<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-header">
            <div class="container">
                <div class="left"><a class="logo item custom-logo" href="index.html"><img src="../../images/header-logo.png" alt=""/></a><a class="item tell" href="#"><span class="number">8 800 333-22-11</span>с 9 до 21 часа</a>
                    <div class="item have-dropdown hidden-sm-down item-bottom"><span class="decorated-link">Курск</span>
                        <div class="dropdown">
                            <ul class="nav">
                                <li><a href="#">Железногорск</a></li>
                                <li><a href="#">Старый Оскол</a></li>
                                <li><a href="#">Губкин</a></li>
                                <li class="last"><select class="js-select form-control"><option>Железногорск</option><option>Старый Оскол</option><option>Губкин</option></select></li>
                            </ul>
                        </div>
                    </div><a class="item hidden-sm-down item-bottom" href="#">Доставка</a><a class="item hidden-sm-down item-bottom" href="#">Как купить</a></div>
                <div class="right"><a class="item menu hidden-md-up js-burger" href="#"></a>
                    <div class="wrapper-icons">
                        <div class="item have-dropdown"><svg class="icon icon_header-lk"><use xlink:href="./../../images/sprite.svg#header-lk"></use></svg>
                            <!--span.title Личный кабинет-->
                            <div class="dropdown">
                                <ul class="nav">
                                    <li><a href="#">mamontosik@gmail.com</a></li>
                                    <li><span>Бонусы: 5000</span></li>
                                    <li><a href="#">Личный кабинет</a></li>
                                    <li><a href="#">Выйти</a></li>
                                </ul>
                            </div>
                        </div><a class="item" href="#"><svg class="icon icon_header-time"><use xlink:href="./../../images/sprite.svg#header-time"></use></svg><span class="title">История просмотров</span></a><a class="item" href="#"><span class="round-icon">3</span><svg class="icon icon_header-favorites"><use xlink:href="./../../images/sprite.svg#header-favorites"></use></svg><span class="title">Избранное</span></a>
                        <a
                            class="item" href="#"><span class="round-icon">3</span><svg class="icon icon_header-cart"><use xlink:href="./../../images/sprite.svg#header-cart"></use></svg><span class="title">Корзина</span></a>
                    </div>
                </div>
            </div>
            <div class="b-search" data-suggestion="data/suggestion.json">
                <div class="container">
                    <form class="form" action="#">
                        <div class="form-group"><input class="form-control js-searchbox" type="text" placeholder="Умный поиск..." /><button class="btn btn-primary"><svg class="icon icon_search-ico"><use xlink:href="./../../images/sprite.svg#search-ico"></use></svg></button></div>
                    </form>
                </div>
            </div>
        </div>
        <script src="../../js/main.js"></script>
    </div>
</body>

</html>