<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-form-password-recovery">
            <h2>Восстановление пароля</h2>
            <h3>Для восстановления пароля введите адрес электронной почты</h3>
            <p class="message-recovery">Контрольная строка для смены пароля, а также ваши<br/>регистрационные данные, будут высланы вам по E-Mail.<br/>Если вы помните пароль, можете <a class="auth" href="../#auth">авторизоваться</a></p>
            <form class="form">
                <div class="form-group required"><input class="form-control" type="email" placeholder="Email" /></div>
                <div class="form-group"><button class="btn btn-outline-success btn-reg">Выслать письмо</button></div>
            </form>
        </div>
        <script src="../../js/main.js"></script>
    </div>
</body>

</html>