<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-catalog">
            <div class="container">
                <div class="sort clearfix"><span class="float-left sort-by">Сортировать по:</span><select class="js-select float-left form-control"><option value="1">возрастанию цены</option><option value="2">убыванию цены</option></select>
                    <div class="type float-md-right hidden-sm-down"><span>Вид каталога:</span><a href="#"><svg class="filter-icon icon"><use xlink:href="../../images/sprite.svg#catalog-type-1"></use></svg></a><a class="js-change-view" href="#"><svg class="filter-icon icon"><use xlink:href="../../images/sprite.svg#catalog-type-2"></use></svg></a></div>
                </div>
                <div class="row wrapper">
                    <div class="col-md-4 col-6 col-lg-3 col-xl-3">
                        <div class="item"><a class="img" href="#"><img class="active" src="../../images/carousel-img-1.png"/><img src="../../images/carousel-img-2.png"/><img src="../../images/carousel-img-3.png"/></a>
                            <div class="sale">Распродажа</div>
                            <div class="wrapper-total">
                                <div class="price">12 150 <span class='rouble'>₽</span>
                                    <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                </div>
                                <div class="wrapper-title">
                                    <div class="rating"><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                        <a
                                            class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                            <a
                                                class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                    <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                </div>
                            </div>
                            <div class="badge">В наличии</div>
                            <div class="count"><a class="btn btn-blank js-count-link" href="#">Купить<span class="move"><svg class="icon icon_catalog-link"><use xlink:href="./../../images/sprite.svg#catalog-link"></use></svg></span></a>
                                <div class="dropdown">
                                    <table class="dropdown-table">
                                        <tr>
                                            <td class="td-address">Курск, База Строитель, ул. Республиканская, 9</td>
                                            <td class="td-count">5 шт.</td>
                                            <td class="td-input">
                                                <div class="quantity js-col-input"><button class="btn less">—</button><input type="text" value="0"><button class="btn plus">+</button></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-address">Курск, База Строитель, ул. Республиканская, 9</td>
                                            <td class="td-count">5 шт.</td>
                                            <td class="td-input">
                                                <div class="quantity js-col-input"><button class="btn less">—</button><input type="text" value="0"><button class="btn plus">+</button></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-address">Курск, База Строитель, ул. Республиканская, 9</td>
                                            <td class="td-count">5 шт.</td>
                                            <td class="td-input">
                                                <div class="quantity js-col-input"><button class="btn less">—</button><input type="text" value="0"><button class="btn plus">+</button></div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="footer"><a class="clear js-clear" href="#"><svg class="icon icon_cart-remove"><use xlink:href="./../../images/sprite.svg#cart-remove"></use></svg>Отмена</a><a class="btn btn-outline-primary js-get-modal" href="#" data-target=".js-add-to-cart">Купить 4 шт.</a></div>
                                </div>
                                <div class="wrapper-icons clearfix float-md-right">

                                    <a class="float-right calc js-icon float-md-left js-get-calc" href="#" data-target=".js-calc"><svg class="icon icon_good-calc"><use xlink:href="./../../images/sprite.svg#good-calc"></use></svg></a>
                                    
                                    <div class="wrapper-icon float-right float-md-right">
                                        <div class="compare libra js-icon js-add-to-compare ">
                                            <span>
                                                <svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в сравнение</span>
                                            <a href="#">Перейти к сравнению</a>
                                        </div>                                                                               
                                    </div>
                                        
                                    <div class="wrapper-icon float-right float-md-left">
                                        <div class="favorites like js-icon">
                                            <span>
                                                <svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в избранное</span>
                                            <a href="#">Перейти к избранному</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper-bottom">
                                <div class="bottom">
                                    <div class="code point">Код товара:<span>1239190230</span></div>
                                    <div class="size point">Габариты, мм:<span>11x28x132</span></div>
                                    <div class="weight point">Вес, кг:<span>0,24</span></div>
                                    <div class="diameter point">Диаметр корпуса, мм:<span>12</span></div>
                                    <div class="feature point">Характеристика:<span>значение</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6 col-lg-3 col-xl-3">
                        <div class="item"><a class="img" href="#"><img class="active" src="../../images/carousel-img-1.png"/><img src="../../images/carousel-img-2.png"/><img src="../../images/carousel-img-3.png"/></a>
                            <div class="action">Акция</div>
                            <div class="wrapper-total">
                                <div class="price">12 150 <span class='rouble'>₽</span>
                                    <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                </div>
                                <div class="wrapper-title">
                                    <div class="rating"><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                        <a
                                            class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                            <a
                                                class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                    <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                </div>
                            </div>
                            <div class="badge">В наличии</div>
                            <div class="count"><a class="btn btn-blank js-count-link" href="#">Купить<span class="move"><svg class="icon icon_catalog-link"><use xlink:href="./../../images/sprite.svg#catalog-link"></use></svg></span></a>
                                <div class="dropdown">
                                    <table class="dropdown-table">
                                        <tr>
                                            <td class="td-address">Курск, База Строитель, ул. Республиканская, 9</td>
                                            <td class="td-count">5 шт.</td>
                                            <td class="td-input">
                                                <div class="quantity js-col-input"><button class="btn less">—</button><input type="text" value="0"><button class="btn plus">+</button></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-address">Курск, База Строитель, ул. Республиканская, 9</td>
                                            <td class="td-count">5 шт.</td>
                                            <td class="td-input">
                                                <div class="quantity js-col-input"><button class="btn less">—</button><input type="text" value="0"><button class="btn plus">+</button></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-address">Курск, База Строитель, ул. Республиканская, 9</td>
                                            <td class="td-count">5 шт.</td>
                                            <td class="td-input">
                                                <div class="quantity js-col-input"><button class="btn less">—</button><input type="text" value="0"><button class="btn plus">+</button></div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="footer"><a class="clear js-clear" href="#"><svg class="icon icon_cart-remove"><use xlink:href="./../../images/sprite.svg#cart-remove"></use></svg>Отмена</a><a class="btn btn-outline-primary js-get-modal" href="#" data-target=".js-add-to-cart">Купить 4 шт.</a></div>
                                </div>
                                <div class="wrapper-icons clearfix float-md-right">

                                    <a class="float-right calc js-icon float-md-left js-get-calc" href="#" data-target=".js-calc"><svg class="icon icon_good-calc"><use xlink:href="./../../images/sprite.svg#good-calc"></use></svg></a>
                                    
                                    <div class="wrapper-icon float-right float-md-right">
                                        <div class="compare libra js-icon js-add-to-compare ">
                                            <span>
                                                <svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в сравнение</span>
                                            <a href="#">Перейти к сравнению</a>
                                        </div>                                                                               
                                    </div>
                                        
                                    <div class="wrapper-icon float-right float-md-left">
                                        <div class="favorites like js-icon">
                                            <span>
                                                <svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в избранное</span>
                                            <a href="#">Перейти к избранному</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper-bottom">
                                <div class="bottom">
                                    <div class="code point">Код товара:<span>1239190230</span></div>
                                    <div class="size point">Габариты, мм:<span>11x28x132</span></div>
                                    <div class="weight point">Вес, кг:<span>0,24</span></div>
                                    <div class="diameter point">Диаметр корпуса, мм:<span>12</span></div>
                                    <div class="feature point">Характеристика:<span>значение</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6 col-lg-3 col-xl-3">
                        <div class="item"><a class="img" href="#"><img class="active" src="../../images/carousel-img-1.png"/><img src="../../images/carousel-img-2.png"/><img src="../../images/carousel-img-3.png"/></a>
                            <div class="wrapper-total">
                                <div class="price">12 150 <span class='rouble'>₽</span>
                                    <div class="old-price"></div>
                                </div>
                                <div class="wrapper-title">
                                    <div class="rating"></div>
                                    <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                </div>
                            </div>
                            <div class="order">Под заказ</div>
                            <div class="count"><a class="btn btn-blank js-count-link" href="#">Купить<span class="move"><svg class="icon icon_catalog-link"><use xlink:href="./../../images/sprite.svg#catalog-link"></use></svg></span></a>
                                <div class="dropdown">
                                    <table class="dropdown-table">
                                        <tr>
                                            <td class="td-address">Курск, База Строитель, ул. Республиканская, 9</td>
                                            <td class="td-count">5 шт.</td>
                                            <td class="td-input">
                                                <div class="quantity js-col-input"><button class="btn less">—</button><input type="text" value="0"><button class="btn plus">+</button></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-address">Курск, База Строитель, ул. Республиканская, 9</td>
                                            <td class="td-count">5 шт.</td>
                                            <td class="td-input">
                                                <div class="quantity js-col-input"><button class="btn less">—</button><input type="text" value="0"><button class="btn plus">+</button></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-address">Курск, База Строитель, ул. Республиканская, 9</td>
                                            <td class="td-count">5 шт.</td>
                                            <td class="td-input">
                                                <div class="quantity js-col-input"><button class="btn less">—</button><input type="text" value="0"><button class="btn plus">+</button></div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="footer"><a class="clear js-clear" href="#"><svg class="icon icon_cart-remove"><use xlink:href="./../../images/sprite.svg#cart-remove"></use></svg>Отмена</a><a class="btn btn-outline-primary js-get-modal" href="#" data-target=".js-add-to-cart">Купить 4 шт.</a></div>
                                </div>
                                <div class="wrapper-icons clearfix float-md-right">

                                    <a class="float-right calc js-icon float-md-left js-get-calc" href="#" data-target=".js-calc"><svg class="icon icon_good-calc"><use xlink:href="./../../images/sprite.svg#good-calc"></use></svg></a>
                                    
                                    <div class="wrapper-icon float-right float-md-right">
                                        <div class="compare libra js-icon js-add-to-compare ">
                                            <span>
                                                <svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в сравнение</span>
                                            <a href="#">Перейти к сравнению</a>
                                        </div>                                                                               
                                    </div>
                                        
                                    <div class="wrapper-icon float-right float-md-left">
                                        <div class="favorites like js-icon">
                                            <span>
                                                <svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в избранное</span>
                                            <a href="#">Перейти к избранному</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper-bottom">
                                <div class="bottom">
                                    <div class="code point">Код товара:<span>1239190230</span></div>
                                    <div class="size point">Габариты, мм:<span>11x28x132</span></div>
                                    <div class="weight point">Вес, кг:<span>0,24</span></div>
                                    <div class="diameter point">Диаметр корпуса, мм:<span>12</span></div>
                                    <div class="feature point">Характеристика:<span>значение</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6 col-lg-3 col-xl-3">
                        <div class="item"><a class="img" href="#"><img class="active" src="../../images/carousel-img-1.png"/><img src="../../images/carousel-img-2.png"/><img src="../../images/carousel-img-3.png"/></a>
                            <div class="sale">Распродажа</div>
                            <div class="wrapper-total">
                                <div class="price">12 150 <span class='rouble'>₽</span>
                                    <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                </div>
                                <div class="wrapper-title">
                                    <div class="rating"><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                        <a
                                            class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                            <a
                                                class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                    <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                </div>
                            </div>
                            <div class="badge">В наличии</div>
                            <div class="count"><a class="btn btn-blank js-count-link" href="#">Купить<span class="move"><svg class="icon icon_catalog-link"><use xlink:href="./../../images/sprite.svg#catalog-link"></use></svg></span></a>
                                <div class="dropdown">
                                    <table class="dropdown-table">
                                        <tr>
                                            <td class="td-address">Курск, База Строитель, ул. Республиканская, 9</td>
                                            <td class="td-count">5 шт.</td>
                                            <td class="td-input">
                                                <div class="quantity js-col-input"><button class="btn less">—</button><input type="text" value="0"><button class="btn plus">+</button></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-address">Курск, База Строитель, ул. Республиканская, 9</td>
                                            <td class="td-count">5 шт.</td>
                                            <td class="td-input">
                                                <div class="quantity js-col-input"><button class="btn less">—</button><input type="text" value="0"><button class="btn plus">+</button></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-address">Курск, База Строитель, ул. Республиканская, 9</td>
                                            <td class="td-count">5 шт.</td>
                                            <td class="td-input">
                                                <div class="quantity js-col-input"><button class="btn less">—</button><input type="text" value="0"><button class="btn plus">+</button></div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="footer"><a class="clear js-clear" href="#"><svg class="icon icon_cart-remove"><use xlink:href="./../../images/sprite.svg#cart-remove"></use></svg>Отмена</a><a class="btn btn-outline-primary js-get-modal" href="#" data-target=".js-add-to-cart">Купить 4 шт.</a></div>
                                </div>
                                <div class="wrapper-icons clearfix float-md-right">

                                    <a class="float-right calc js-icon float-md-left js-get-calc" href="#" data-target=".js-calc"><svg class="icon icon_good-calc"><use xlink:href="./../../images/sprite.svg#good-calc"></use></svg></a>
                                    
                                    <div class="wrapper-icon float-right float-md-right">
                                        <div class="compare libra js-icon js-add-to-compare ">
                                            <span>
                                                <svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в сравнение</span>
                                            <a href="#">Перейти к сравнению</a>
                                        </div>                                                                               
                                    </div>
                                        
                                    <div class="wrapper-icon float-right float-md-left">
                                        <div class="favorites like js-icon">
                                            <span>
                                                <svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в избранное</span>
                                            <a href="#">Перейти к избранному</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper-bottom">
                                <div class="bottom">
                                    <div class="code point">Код товара:<span>1239190230</span></div>
                                    <div class="size point">Габариты, мм:<span>11x28x132</span></div>
                                    <div class="weight point">Вес, кг:<span>0,24</span></div>
                                    <div class="diameter point">Диаметр корпуса, мм:<span>12</span></div>
                                    <div class="feature point">Характеристика:<span>значение</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6 col-lg-3 col-xl-3">
                        <div class="item"><a class="img" href="#"><img class="active" src="../../images/carousel-img-1.png"/><img src="../../images/carousel-img-2.png"/><img src="../../images/carousel-img-3.png"/></a>
                            <div class="action">Акция</div>
                            <div class="wrapper-total">
                                <div class="price">12 150 <span class='rouble'>₽</span>
                                    <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                </div>
                                <div class="wrapper-title">
                                    <div class="rating"><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                        <a
                                            class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                            <a
                                                class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                    <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                </div>
                            </div>
                            <div class="badge">В наличии</div>
                            <div class="count"><a class="btn btn-blank js-count-link" href="#">Купить<span class="move"><svg class="icon icon_catalog-link"><use xlink:href="./../../images/sprite.svg#catalog-link"></use></svg></span></a>
                                <div class="dropdown">
                                    <table class="dropdown-table">
                                        <tr>
                                            <td class="td-address">Курск, База Строитель, ул. Республиканская, 9</td>
                                            <td class="td-count">5 шт.</td>
                                            <td class="td-input">
                                                <div class="quantity js-col-input"><button class="btn less">—</button><input type="text" value="0"><button class="btn plus">+</button></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-address">Курск, База Строитель, ул. Республиканская, 9</td>
                                            <td class="td-count">5 шт.</td>
                                            <td class="td-input">
                                                <div class="quantity js-col-input"><button class="btn less">—</button><input type="text" value="0"><button class="btn plus">+</button></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-address">Курск, База Строитель, ул. Республиканская, 9</td>
                                            <td class="td-count">5 шт.</td>
                                            <td class="td-input">
                                                <div class="quantity js-col-input"><button class="btn less">—</button><input type="text" value="0"><button class="btn plus">+</button></div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="footer"><a class="clear js-clear" href="#"><svg class="icon icon_cart-remove"><use xlink:href="./../../images/sprite.svg#cart-remove"></use></svg>Отмена</a><a class="btn btn-outline-primary js-get-modal" href="#" data-target=".js-add-to-cart">Купить 4 шт.</a></div>
                                </div>
                                <div class="wrapper-icons clearfix float-md-right">

                                    <a class="float-right calc js-icon float-md-left js-get-calc" href="#" data-target=".js-calc"><svg class="icon icon_good-calc"><use xlink:href="./../../images/sprite.svg#good-calc"></use></svg></a>
                                    
                                    <div class="wrapper-icon float-right float-md-right">
                                        <div class="compare libra js-icon js-add-to-compare ">
                                            <span>
                                                <svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в сравнение</span>
                                            <a href="#">Перейти к сравнению</a>
                                        </div>                                                                               
                                    </div>
                                        
                                    <div class="wrapper-icon float-right float-md-left">
                                        <div class="favorites like js-icon">
                                            <span>
                                                <svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в избранное</span>
                                            <a href="#">Перейти к избранному</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper-bottom">
                                <div class="bottom">
                                    <div class="code point">Код товара:<span>1239190230</span></div>
                                    <div class="size point">Габариты, мм:<span>11x28x132</span></div>
                                    <div class="weight point">Вес, кг:<span>0,24</span></div>
                                    <div class="diameter point">Диаметр корпуса, мм:<span>12</span></div>
                                    <div class="feature point">Характеристика:<span>значение</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6 col-lg-3 col-xl-3">
                        <div class="item"><a class="img" href="#"><img class="active" src="../../images/carousel-img-1.png"/><img src="../../images/carousel-img-2.png"/><img src="../../images/carousel-img-3.png"/></a>
                            <div class="wrapper-total">
                                <div class="price">12 150 <span class='rouble'>₽</span>
                                    <div class="old-price"></div>
                                </div>
                                <div class="wrapper-title">
                                    <div class="rating"></div>
                                    <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                </div>
                            </div>
                            <div class="order">Под заказ</div>
                            <div class="count"><a class="btn btn-blank js-count-link" href="#">Купить<span class="move"><svg class="icon icon_catalog-link"><use xlink:href="./../../images/sprite.svg#catalog-link"></use></svg></span></a>
                                <div class="dropdown">
                                    <table class="dropdown-table">
                                        <tr>
                                            <td class="td-address">Курск, База Строитель, ул. Республиканская, 9</td>
                                            <td class="td-count">5 шт.</td>
                                            <td class="td-input">
                                                <div class="quantity js-col-input"><button class="btn less">—</button><input type="text" value="0"><button class="btn plus">+</button></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-address">Курск, База Строитель, ул. Республиканская, 9</td>
                                            <td class="td-count">5 шт.</td>
                                            <td class="td-input">
                                                <div class="quantity js-col-input"><button class="btn less">—</button><input type="text" value="0"><button class="btn plus">+</button></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-address">Курск, База Строитель, ул. Республиканская, 9</td>
                                            <td class="td-count">5 шт.</td>
                                            <td class="td-input">
                                                <div class="quantity js-col-input"><button class="btn less">—</button><input type="text" value="0"><button class="btn plus">+</button></div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="footer"><a class="clear js-clear" href="#"><svg class="icon icon_cart-remove"><use xlink:href="./../../images/sprite.svg#cart-remove"></use></svg>Отмена</a><a class="btn btn-outline-primary js-get-modal" href="#" data-target=".js-add-to-cart">Купить 4 шт.</a></div>
                                </div>
                                <div class="wrapper-icons clearfix float-md-right">

                                    <a class="float-right calc js-icon float-md-left js-get-calc" href="#" data-target=".js-calc"><svg class="icon icon_good-calc"><use xlink:href="./../../images/sprite.svg#good-calc"></use></svg></a>
                                    
                                    <div class="wrapper-icon float-right float-md-right">
                                        <div class="compare libra js-icon js-add-to-compare ">
                                            <span>
                                                <svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в сравнение</span>
                                            <a href="#">Перейти к сравнению</a>
                                        </div>                                                                               
                                    </div>
                                        
                                    <div class="wrapper-icon float-right float-md-left">
                                        <div class="favorites like js-icon">
                                            <span>
                                                <svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в избранное</span>
                                            <a href="#">Перейти к избранному</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper-bottom">
                                <div class="bottom">
                                    <div class="code point">Код товара:<span>1239190230</span></div>
                                    <div class="size point">Габариты, мм:<span>11x28x132</span></div>
                                    <div class="weight point">Вес, кг:<span>0,24</span></div>
                                    <div class="diameter point">Диаметр корпуса, мм:<span>12</span></div>
                                    <div class="feature point">Характеристика:<span>значение</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper-baner">
                <div class="b-baner">
                    <div class="container"><a href="#"><img class="img" src="../../images/baner-img.jpg"/></a></div>
                </div>
            </div>
            <div class="container">
                <div class="row wrapper">
                    <div class="col-md-4 col-6 col-lg-3 col-xl-3"></div>
                    <div class="col-md-4 col-6 col-lg-3 col-xl-3"></div>
                    <div class="col-md-4 col-6 col-lg-3 col-xl-3"></div>
                    <div class="js-load-more" data-url="data/catalog.html"></div>
                </div>
                <div class="text-center"><img class="loader" src="../../images/delivery-loader.png" width="50" /></div>
            </div>
            <div class="b-calc js-calc"><a class="calc-close js-calc-close" href="#"><svg class="icon icon_calc-close"><use xlink:href="./../../images/sprite.svg#calc-close"></use></svg></a>
                <div class="calc-body active">
                    <h2 class="title">Калькулятор</h2>
                    <form class="form" action="#">
                        <div class="form-group"><select class="form-control"><option>Выпадающий список</option><option>Выпадающий список</option><option>Выпадающий список</option><option>Выпадающий список</option></select></div>
                        <div class="form-group"><input class="form-control" type="text" placeholder="Введите значение..." /></div>
                        <div class="form-group"><input class="form-control" type="text" placeholder="Ширина (см) ..." /></div>
                        <div class="form-group text-center"><button class="btn btn-success js-next-step">Рассчитать</button></div>
                    </form>
                </div>
                <div class="calc-body">
                    <h2 class="title">Калькулятор</h2>
                    <p class="text-center text">Необходимое количество уплотнителя KIMTEC D-100 для помещения 6 м<sup>2</sup></p>
                    <p class="text-center big text">4 шт.</p>
                    <div class="buy-block text-center">
                        <div class="price"><span>12 150 <span class="rouble">&#8381</span></span>
                        </div><a class="btn btn-blank" href="#">В корзину<span class="move"><svg class="icon icon_catalog-link"><use xlink:href="./../../images/sprite.svg#catalog-link"></use></svg></span></a></div>
                    <div class="form-group text-center btn-cont"><button class="btn btn-outline-success">Сохранить расчет</button><br/><button class="btn btn-outline-success">Новый расчет</button></div>
                </div>
                <div class="form-group bordered"><select class="form-control"><option>Сохранённые расчёты</option><option>Сохранённые расчёты</option><option>Сохранённые расчёты</option><option>Сохранённые расчёты</option></select></div>
            </div>
        </div>
        <script src="../../js/main.js"></script>
    </div>
</body>

</html>