<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-garden">
            <div class="container">
                <h2>Сад и досуг</h2><a class="all-actions hidden-sm-down" href="#">Все советы</a>
                <div class="row custom-row">
                    <div class="col-md-4 col-xl-3 col-sm-6 col-12"><a class="item" href="#"><span class="container-img"><img class="img" src="../../images/garden-img-1.jpg"/></span><span class="text"><span class="date">7 ноября 2016</span><span class="h2">Название статьи</span><span class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</span></span></a></div>
                    <div
                        class="col-md-4 col-xl-3 col-sm-6 hidden-xs-down"><a class="item" href="#"><span class="container-img"><img class="img" src="../../images/garden-img-2.jpg"/></span><span class="text"><span class="date">7 ноября 2016</span><span class="h2">Название статьи</span><span class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</span></span></a></div>
                <div
                    class="col-md-4 col-xl-3 hidden-sm-down"><a class="item" href="#"><span class="container-img"><img class="img" src="../../images/garden-img-3.jpg"/></span><span class="text"><span class="date">7 ноября 2016</span><span class="h2">Название статьи</span><span class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</span></span></a></div>
            <div
                class="col-xl-3 hidden-lg-down"><a class="item" href="#"><span class="container-img"><img class="img" src="../../images/garden-img-1.jpg"/></span><span class="text"><span class="date">7 ноября 2016</span><span class="h2">Название статьи</span><span class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</span></span></a></div>
    </div><a class="all-actions hidden-md-up" href="#">Все советы</a></div>
    </div>
    <script src="../../js/main.js"></script>
    </div>
</body>

</html>