<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-article">
            <div class="container">
                <h1 class="h1 hidden-md-down">О компании</h1>
                <figure><img src="../../images/article-figure.jpg" />
                    <figcaption>
                        <div class="text">
                            <h2 class="h1">СтройГигант —</h2>
                            <p>сеть гипермаркетов и магазинов с большим выбором товаров для строительства, отделки и обустройства дома, дачи и сада</p>
                        </div>
                    </figcaption>
                </figure>
                <div class="social max-width"><img class="hidden-sm-down" src="../../images/article-social.png" alt="#" /><img class="hidden-md-up" src="../../images/article-social-320.png" alt="#" /></div>
                <p class="max-width p-bottom">В гипермаркетах и магазинах сети «СтройГигант» представлено более 25000 товаров для дома, стройки и ремонта, ориентированных как на профессиональных мастеров, так и на тех, кто предпочитает выполнять работы самостоятельно.</p>
                <p class="max-width p-bottom">«СтройГигант» гарантирует всем своим клиентам качественные товары по привлекательным ценам и профессиональное обслуживание, а также предлагает удобную доставку и бонусно-накопительную программу.</p>
            </div>
        </div>
        <script src="../../js/main.js"></script>
    </div>
</body>

</html>