<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-article-inner">
            <div class="container">
                <h1>Заголовок статьи</h1>
                <div class="social"><img src="../../images/article-social.png" alt="#" /></div>
                <figure><img src="../../images/article-figure.jpg" />
                    <figcaption>
                        <div class="text">
                            <p>Баннер с фотографией и интересным текстом в несколько строк</p>
                        </div>
                    </figcaption>
                </figure>
                <div class="text big max-width">C astorama входит в состав международной компании Kingfisher, специализирующейся на товарах для обустройства дома и ремонта. Мы создаем хорошие дома, сделав обустройство дома доступным для</div>
                <div class="block-img max-width"><img src="../../images/article-inner-img.jpg" /></div>
                <p class="item-p max-width">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p
                    class="item-p max-width">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
                    omnis iste natus error sit.
                    <div class="wrapper-doc clearfix max-width">
                        <div class="item float-md-left"><a href="#"><svg class="icon icon_description-manual-3"><use xlink:href="./../../images/sprite.svg#description-manual-3"></use></svg><span>Инструкция по применению 1</span></a><a href="#"><svg class="icon icon_description-manual-3"><use xlink:href="./../../images/sprite.svg#description-manual-3"></use></svg><span>Инструкция по применению 2</span></a>
                            <a
                                href="#"><svg class="icon icon_description-manual-3"><use xlink:href="./../../images/sprite.svg#description-manual-3"></use></svg><span>Инструкция по применению 3</span></a>
                        </div>
                        <div class="item right float-md-left"><a href="#"><svg class="icon icon_description-manual-3"><use xlink:href="./../../images/sprite.svg#description-manual-3"></use></svg><span>Инструкция по применению 1</span></a><a href="#"><svg class="icon icon_description-manual-3"><use xlink:href="./../../images/sprite.svg#description-manual-3"></use></svg><span>Инструкция по применению 2</span></a>
                            <a
                                href="#"><svg class="icon icon_description-manual-3"><use xlink:href="./../../images/sprite.svg#description-manual-3"></use></svg><span>Инструкция по применению 3</span></a>
                        </div>
                    </div>
                    </p>
                    <p class="item-p clearfix max-width"><img class="float-md-left" src="../../images/article-inner-img-2.jpg" />Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit. voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo.</p>
                    <p class="item-p clearfix max-width"><img class="float-md-right" src="../../images/article-inner-img-3.jpg" />Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error</p>
                    <div class="b-carousel carousel-article">
                        <div class="container">
                            <h2>Используемые в статье товары</h2>
                            <div class="swiper-container js-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" data-type="n1">
                                        <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-1.png"/></a>
                                            <div class="price">12 150 <span class='rouble'>₽</span></div>
                                            <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                            <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                <a
                                                    class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                    <a
                                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                            <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                            <div class="badge">В наличии!</div><a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a><a class="float-right like js-like filled"><svg class="icon icon_carousel-like"><use xlink:href="./../../images/sprite.svg#carousel-like"></use></svg></a></div>
                                    </div>
                                    <div class="swiper-slide" data-type="n2">
                                        <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-2.png"/></a>
                                            <div class="price">12 150 <span class='rouble'>₽</span></div>
                                            <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                            <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                <a
                                                    class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                    <a
                                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                            <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                            <div class="badge">В наличии!</div><a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a><a class="float-right like js-like"><svg class="icon icon_carousel-like"><use xlink:href="./../../images/sprite.svg#carousel-like"></use></svg></a></div>
                                    </div>
                                    <div class="swiper-slide" data-type="n1">
                                        <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-3.png"/></a>
                                            <div class="price">12 150 <span class='rouble'>₽</span></div>
                                            <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                            <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                <a
                                                    class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                    <a
                                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                            <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                            <div class="badge">В наличии!</div><a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a><a class="float-right like js-like"><svg class="icon icon_carousel-like"><use xlink:href="./../../images/sprite.svg#carousel-like"></use></svg></a></div>
                                    </div>
                                    <div class="swiper-slide" data-type="n1">
                                        <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-1.png"/></a>
                                            <div class="price">12 150 <span class='rouble'>₽</span></div>
                                            <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                            <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                <a
                                                    class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                    <a
                                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                            <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                            <div class="badge">В наличии!</div><a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a><a class="float-right like js-like filled"><svg class="icon icon_carousel-like"><use xlink:href="./../../images/sprite.svg#carousel-like"></use></svg></a></div>
                                    </div>
                                    <div class="swiper-slide" data-type="n2">
                                        <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-2.png"/></a>
                                            <div class="price">12 150 <span class='rouble'>₽</span></div>
                                            <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                            <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                <a
                                                    class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                    <a
                                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                            <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                            <div class="badge">В наличии!</div><a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a><a class="float-right like js-like"><svg class="icon icon_carousel-like"><use xlink:href="./../../images/sprite.svg#carousel-like"></use></svg></a></div>
                                    </div>
                                    <div class="swiper-slide" data-type="n1">
                                        <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-3.png"/></a>
                                            <div class="price">12 150 <span class='rouble'>₽</span></div>
                                            <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                            <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                <a
                                                    class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                    <a
                                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                            <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                            <div class="badge">В наличии!</div><a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a><a class="float-right like js-like"><svg class="icon icon_carousel-like"><use xlink:href="./../../images/sprite.svg#carousel-like"></use></svg></a></div>
                                    </div>
                                    <div class="swiper-slide" data-type="n1">
                                        <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-1.png"/></a>
                                            <div class="price">12 150 <span class='rouble'>₽</span></div>
                                            <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                            <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                <a
                                                    class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                    <a
                                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                            <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                            <div class="badge">В наличии!</div><a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a><a class="float-right like js-like filled"><svg class="icon icon_carousel-like"><use xlink:href="./../../images/sprite.svg#carousel-like"></use></svg></a></div>
                                    </div>
                                    <div class="swiper-slide" data-type="n2">
                                        <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-2.png"/></a>
                                            <div class="price">12 150 <span class='rouble'>₽</span></div>
                                            <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                            <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                <a
                                                    class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                    <a
                                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                            <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                            <div class="badge">В наличии!</div><a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a><a class="float-right like js-like"><svg class="icon icon_carousel-like"><use xlink:href="./../../images/sprite.svg#carousel-like"></use></svg></a></div>
                                    </div>
                                    <div class="swiper-slide" data-type="n1">
                                        <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-3.png"/></a>
                                            <div class="price">12 150 <span class='rouble'>₽</span></div>
                                            <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                            <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                <a
                                                    class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                    <a
                                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                            <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                            <div class="badge">В наличии!</div><a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a><a class="float-right like js-like"><svg class="icon icon_carousel-like"><use xlink:href="./../../images/sprite.svg#carousel-like"></use></svg></a></div>
                                    </div>
                                    <div class="swiper-slide" data-type="n1">
                                        <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-1.png"/></a>
                                            <div class="price">12 150 <span class='rouble'>₽</span></div>
                                            <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                            <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                <a
                                                    class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                    <a
                                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                            <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                            <div class="badge">В наличии!</div><a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a><a class="float-right like js-like filled"><svg class="icon icon_carousel-like"><use xlink:href="./../../images/sprite.svg#carousel-like"></use></svg></a></div>
                                    </div>
                                    <div class="swiper-slide" data-type="n2">
                                        <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-2.png"/></a>
                                            <div class="price">12 150 <span class='rouble'>₽</span></div>
                                            <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                            <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                <a
                                                    class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                    <a
                                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                            <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                            <div class="badge">В наличии!</div><a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a><a class="float-right like js-like"><svg class="icon icon_carousel-like"><use xlink:href="./../../images/sprite.svg#carousel-like"></use></svg></a></div>
                                    </div>
                                    <div class="swiper-slide" data-type="n1">
                                        <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-3.png"/></a>
                                            <div class="price">12 150 <span class='rouble'>₽</span></div>
                                            <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                            <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                <a
                                                    class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                                    <a
                                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                            <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                            <div class="badge">В наличии!</div><a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a><a class="float-right like js-like"><svg class="icon icon_carousel-like"><use xlink:href="./../../images/sprite.svg#carousel-like"></use></svg></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-next js-next hidden-xs-down"><svg class="icon icon_slider-arrow-right"><use xlink:href="./../../images/sprite.svg#slider-arrow-right"></use></svg></div>
                            <div class="swiper-button-prev js-prev hidden-xs-down"><svg class="icon icon_slider-arrow-left"><use xlink:href="./../../images/sprite.svg#slider-arrow-left"></use></svg></div>
                            <div class="pagination js-pagination"></div>
                        </div>
                    </div>
                    <h2 class="hidden-md-down">Комментарии</h2>
                    <div class="b-description max-width">
                        <div class="container">
                            <div class="add"><span class="review-sum">3 комментария</span><button class="btn add-review" data-toggle="collapse" href="#collapseReview" aria-expanded="false" aria-controls="collapseReview">Оставить комментарий</button>
                                <div class="container">
                                    <div class="collapse" id="collapseReview">
                                        <div class="wrapper-form-review">
                                            <div class="clearfix"><a class="float-right cancel js-cancel" href="#">Отмена<svg class="icon icon_description-close"><use xlink:href="./../../images/sprite.svg#description-close"></use></svg></a>
                                                <p class="float-left">Авторизация (если у Вас нет аккаунта,&nbsp;<a href="#" data-target=".js-registration-modal" class="decorated-link js-get-modal">зарегистрируйтесь</a>)</p>
                                            </div>
                                            <form class="form">
                                                <div class="form-group required no-label"><input class="form-control" type="email" name="login" placeholder="Email" /></div>
                                                <div class="form-group required no-label"><input class="form-control" type="password" name="password" placeholder="Пароль" /></div>
                                                <div class="form-group"><button class="btn btn-outline-primary" data-toggle="collapse" href="#collapseReviewFrom" aria-expanded="false" aria-controls="collapseReviewFrom">Войти</button></div>
                                            </form>
                                        </div>
                                        <div class="wrapper-authorized wrapper-form-review collapse" id="collapseReviewFrom">
                                            <div class="clearfix bordered"><a class="float-right cancel js-cancel" href="#">Отмена<svg class="icon icon_description-close"><use xlink:href="./../../images/sprite.svg#description-close"></use></svg></a>
                                                <p class="float-left">Вы авторизованы как<span class="strong name">Иван Иванов</span></p>
                                            </div>
                                            <div class="wrapper-add-review"><img class="ava" src="../../images/description-ava-1.png" />
                                                <form class="add-rev">
                                                    <div class="form-group required textarea"><textarea class="form-control" placeholder="Ваш отзыв"></textarea></div>
                                                    <div class="form-group draw-photo"><a class="hidden-sm-down" href="#">Перетяните сюда фотографии или нажмите для поиска на жестком диске</a><a class="hidden-md-up" href="#">Загрузить фото</a><input type="file" /></div>
                                                    <div class="form-group wrapper-link-video"><input class="form-control" type="text" name="videoLink" placeholder="Ссылка на видео" /></div>
                                                    <div class="wrapper-stars">Ваша оценка
                                                        <div class="stars js-add-review"><a class="star filled"><svg class="icon icon_description-star"><use xlink:href="./../../images/sprite.svg#description-star"></use></svg></a><a class="star filled"><svg class="icon icon_description-star"><use xlink:href="./../../images/sprite.svg#description-star"></use></svg></a>
                                                            <a
                                                                class="star filled"><svg class="icon icon_description-star"><use xlink:href="./../../images/sprite.svg#description-star"></use></svg></a><a class="star filled"><svg class="icon icon_description-star"><use xlink:href="./../../images/sprite.svg#description-star"></use></svg></a>
                                                                <a
                                                                    class="star filled"><svg class="icon icon_description-star"><use xlink:href="./../../images/sprite.svg#description-star"></use></svg></a>
                                                        </div>
                                                    </div>
                                                    <div class="form-group"><input class="checkbox" type="checkbox" name="anonim" id="anonim" /><label for="anonim">Анонимный отзыв</label></div>
                                                    <div class="form-group"><button class="btn btn-outline-primary">Оставить отзыв</button></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-list">
                            <div class="wrapper-reviews">
                                <div class="row">
                                    <div class="col-lg-10 col-12">
                                        <div class="wrapper-review clearfix"><img class="ava" src="../../images/description-ava-1.png" />
                                            <div class="auter"><span>Иван Иванов</span></div>
                                            <div class="rating hidden-sm-down"><a class="star filled"><svg class="icon icon_description-star"><use xlink:href="./../../images/sprite.svg#description-star"></use></svg></a><a class="star filled"><svg class="icon icon_description-star"><use xlink:href="./../../images/sprite.svg#description-star"></use></svg></a>
                                                <a
                                                    class="star filled"><svg class="icon icon_description-star"><use xlink:href="./../../images/sprite.svg#description-star"></use></svg></a><a class="star filled"><svg class="icon icon_description-star"><use xlink:href="./../../images/sprite.svg#description-star"></use></svg></a>
                                                    <a
                                                        class="star filled"><svg class="icon icon_description-star"><use xlink:href="./../../images/sprite.svg#description-star"></use></svg></a>
                                            </div>
                                            <div class="wrapper-date hidden-lg-up float-md-right">
                                                <div class="wrapper-flex"><span>27  ноября 2016</span>
                                                    <div class="likes clearfix">
                                                        <div class="like float-left"><svg class="icon icon_description-like"><use xlink:href="./../../images/sprite.svg#description-like"></use></svg><span>5</span></div>
                                                        <div class="dislike float-left"><svg class="icon icon_description-dislike"><use xlink:href="./../../images/sprite.svg#description-dislike"></use></svg><span>1</span></div>
                                                    </div><a class="dashed hidden-sm-down" href="#">Ответить</a></div>
                                            </div>
                                            <div class="review">
                                                <p>KIM TEC уплотнитель самоклеящийся с D-образным профилем для окон и дверей. Прост в использовании. Снижает энергозатраты на отопление, а также обладает высокой адгезией к поверхности из дерева, металла, пластика.
                                                    Подходит для уплотнения всех типов дверей и окон.</p>
                                            </div>
                                            <div class="wrapper-img"><img class="img-review" src="../../images/description-review-img.jpg" /><img class="img-review" src="../../images/description-review-img.jpg" /><img class="img-review" src="../../images/description-review-img.jpg" /><img class="img-review"
                                                    src="../../images/description-review-img.jpg" /></div><a class="dashed hidden-md-up" href="#">Ответить</a></div>
                                    </div>
                                    <div class="col-lg-2 hidden-md-down">
                                        <div class="wrapper-date"><span>27  ноября 2016</span>
                                            <div class="likes clearfix">
                                                <div class="like float-left"><svg class="icon icon_description-like"><use xlink:href="./../../images/sprite.svg#description-like"></use></svg><span>5</span></div>
                                                <div class="dislike float-left"><svg class="icon icon_description-dislike"><use xlink:href="./../../images/sprite.svg#description-dislike"></use></svg><span>1</span></div>
                                            </div><a class="dashed" href="#">Ответить</a></div>
                                    </div>
                                    <div class="col-lg-10 col-12">
                                        <div class="wrapper-review-answer answer-bg clearfix"><img class="ava" src="../../images/description-ava-answer-1.png" />
                                            <div class="auter"><span>Администрация</span></div>
                                            <div class="wrapper-date hidden-lg-up float-right">
                                                <div class="wrapper-flex"><span>27  ноября 2016</span>
                                                    <div class="likes clearfix">
                                                        <div class="like float-left"><svg class="icon icon_description-like"><use xlink:href="./../../images/sprite.svg#description-like"></use></svg><span>5</span></div>
                                                        <div class="dislike float-left"><svg class="icon icon_description-dislike"><use xlink:href="./../../images/sprite.svg#description-dislike"></use></svg><span>1</span></div>
                                                    </div>
                                                    <div class="review hidden-md-up">
                                                        <p>Благодарим за Ваш отзыв!</p>
                                                    </div><a class="dashed" href="#">Ответить</a></div>
                                            </div>
                                            <div class="review hidden-sm-down">
                                                <p>Благодарим за Ваш отзыв!</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2 hidden-md-down">
                                        <div class="wrapper-date wrapper-date-answer answer-bg"><span>27  ноября 2016</span>
                                            <div class="likes clearfix">
                                                <div class="like float-left"><svg class="icon icon_description-like"><use xlink:href="./../../images/sprite.svg#description-like"></use></svg><span>5</span></div>
                                                <div class="dislike float-left"><svg class="icon icon_description-dislike"><use xlink:href="./../../images/sprite.svg#description-dislike"></use></svg><span>1</span></div>
                                            </div><a class="dashed" href="#">Ответить</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper-reviews">
                                <div class="row">
                                    <div class="col-lg-10 col-12">
                                        <div class="wrapper-review clearfix"><img class="ava" src="../../images/description-ava-1.png" />
                                            <div class="auter"><span>Иван Иванов</span></div>
                                            <div class="rating hidden-sm-down"><a class="star filled"><svg class="icon icon_description-star"><use xlink:href="./../../images/sprite.svg#description-star"></use></svg></a><a class="star filled"><svg class="icon icon_description-star"><use xlink:href="./../../images/sprite.svg#description-star"></use></svg></a>
                                                <a
                                                    class="star filled"><svg class="icon icon_description-star"><use xlink:href="./../../images/sprite.svg#description-star"></use></svg></a><a class="star filled"><svg class="icon icon_description-star"><use xlink:href="./../../images/sprite.svg#description-star"></use></svg></a>
                                                    <a
                                                        class="star filled"><svg class="icon icon_description-star"><use xlink:href="./../../images/sprite.svg#description-star"></use></svg></a>
                                            </div>
                                            <div class="wrapper-date hidden-lg-up float-md-right">
                                                <div class="wrapper-flex"><span>27  ноября 2016</span>
                                                    <div class="likes clearfix">
                                                        <div class="like float-left"><svg class="icon icon_description-like"><use xlink:href="./../../images/sprite.svg#description-like"></use></svg><span>5</span></div>
                                                        <div class="dislike float-left"><svg class="icon icon_description-dislike"><use xlink:href="./../../images/sprite.svg#description-dislike"></use></svg><span>1</span></div>
                                                    </div><a class="dashed hidden-sm-down" href="#">Ответить</a></div>
                                            </div>
                                            <div class="review">
                                                <p>KIM TEC уплотнитель самоклеящийся с D-образным профилем для окон и дверей. Прост в использовании. Снижает энергозатраты на отопление, а также обладает высокой адгезией к поверхности из дерева, металла, пластика.
                                                    Подходит для уплотнения всех типов дверей и окон.</p>
                                            </div>
                                            <div class="wrapper-img"><img class="img-review" src="../../images/description-review-img.jpg" /><img class="img-review" src="../../images/description-review-img.jpg" /><img class="img-review" src="../../images/description-review-img.jpg" /><img class="img-review"
                                                    src="../../images/description-review-img.jpg" /></div><a class="dashed hidden-md-up" href="#">Ответить</a></div>
                                    </div>
                                    <div class="col-lg-2 hidden-md-down">
                                        <div class="wrapper-date"><span>27  ноября 2016</span>
                                            <div class="likes clearfix">
                                                <div class="like float-left"><svg class="icon icon_description-like"><use xlink:href="./../../images/sprite.svg#description-like"></use></svg><span>5</span></div>
                                                <div class="dislike float-left"><svg class="icon icon_description-dislike"><use xlink:href="./../../images/sprite.svg#description-dislike"></use></svg><span>1</span></div>
                                            </div><a class="dashed" href="#">Ответить</a></div>
                                    </div>
                                    <div class="col-lg-10 col-12">
                                        <div class="wrapper-review-answer answer-bg clearfix"><img class="ava" src="../../images/description-ava-answer-1.png" />
                                            <div class="auter"><span>Администрация</span></div>
                                            <div class="wrapper-date hidden-lg-up float-right">
                                                <div class="wrapper-flex"><span>27  ноября 2016</span>
                                                    <div class="likes clearfix">
                                                        <div class="like float-left"><svg class="icon icon_description-like"><use xlink:href="./../../images/sprite.svg#description-like"></use></svg><span>5</span></div>
                                                        <div class="dislike float-left"><svg class="icon icon_description-dislike"><use xlink:href="./../../images/sprite.svg#description-dislike"></use></svg><span>1</span></div>
                                                    </div>
                                                    <div class="review hidden-md-up">
                                                        <p>Благодарим за Ваш отзыв!</p>
                                                    </div><a class="dashed" href="#">Ответить</a></div>
                                            </div>
                                            <div class="review hidden-sm-down">
                                                <p>Благодарим за Ваш отзыв!</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2 hidden-md-down">
                                        <div class="wrapper-date wrapper-date-answer answer-bg"><span>27  ноября 2016</span>
                                            <div class="likes clearfix">
                                                <div class="like float-left"><svg class="icon icon_description-like"><use xlink:href="./../../images/sprite.svg#description-like"></use></svg><span>5</span></div>
                                                <div class="dislike float-left"><svg class="icon icon_description-dislike"><use xlink:href="./../../images/sprite.svg#description-dislike"></use></svg><span>1</span></div>
                                            </div><a class="dashed" href="#">Ответить</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <script src="../../js/main.js"></script>
    </div>
</body>

</html>