<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-calc js-calc"><a class="calc-close js-calc-close" href="#"><svg class="icon icon_calc-close"><use xlink:href="./../../images/sprite.svg#calc-close"></use></svg></a>
            <div class="calc-body active">
                <h2 class="title">Калькулятор</h2>
                <form class="form" action="#">
                    <div class="form-group"><select class="form-control"><option>Выпадающий список</option><option>Выпадающий список</option><option>Выпадающий список</option><option>Выпадающий список</option></select></div>
                    <div class="form-group"><input class="form-control" type="text" placeholder="Введите значение..." /></div>
                    <div class="form-group"><input class="form-control" type="text" placeholder="Ширина (см) ..." /></div>
                    <div class="form-group text-center"><button class="btn btn-success js-next-step">Рассчитать</button></div>
                </form>
            </div>
            <div class="calc-body">
                <h2 class="title">Калькулятор</h2>
                <p class="text-center text">Необходимое количество уплотнителя KIMTEC D-100 для помещения 6 м<sup>2</sup></p>
                <p class="text-center big text">4 шт.</p>
                <div class="buy-block text-center">
                    <div class="price"><span>12 150 <span class="rouble">&#8381</span></span>
                    </div><a class="btn btn-blank" href="#">В корзину<span class="move"><svg class="icon icon_catalog-link"><use xlink:href="./../../images/sprite.svg#catalog-link"></use></svg></span></a></div>
                <div class="form-group text-center btn-cont"><button class="btn btn-outline-success">Сохранить расчет</button><br/><button class="btn btn-outline-success">Новый расчет</button></div>
            </div>
            <div class="form-group bordered"><select class="form-control"><option>Сохранённые расчёты</option><option>Сохранённые расчёты</option><option>Сохранённые расчёты</option><option>Сохранённые расчёты</option></select></div>
        </div>
        <script src="../../js/main.js"></script>
    </div>
</body>

</html>