<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-good max-width">
            <div class="container">
                <div class="wrapper-title clearfix">
                    <h2 class="float-left">Уплотнитель KIMTEC D-100 коричневый 100 м х 7,5 мм</h2>
                    <div class="sale hidden-md-down">Распродажа</div>
                    <div class="action hidden-md-down">Акция</div>
                    <!--a(href="#" data-target=".js-calc").calc.js-get-calc+icon('good-calc')
-->
                </div>
                <div class="wrapper clearfix">
                    <div class="b-good-gallery wrapper-slider float-md-left slider-selected" data-offer-id="1"><a class="modal-close js-modal-close" href="#"></a>
                        <div class="swiper-container js-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img class="img" src="../../images/good-img-1.jpg" data-origin="../../images/good-img-original-1.jpg" /></div>
                                <div class="swiper-slide"><img class="img" src="../../images/good-img-3.jpg" data-origin="../../images/good-img-original-3.jpg" /></div>
                                <div class="swiper-slide"><img class="img" src="../../images/good-img-4.jpg" data-origin="../../images/good-img-original-4.jpg" /></div>
                                <div class="swiper-slide"><img class="img" src="../../images/good-img-5.jpg" data-origin="../../images/good-img-original-5.jpg" /></div>
                                <div class="swiper-slide"><img class="img" src="../../images/good-img-1.jpg" data-origin="../../images/good-img-original-1.jpg" /></div>
                                <div class="swiper-slide"><img class="img" src="../../images/good-img-2.jpg" data-origin="../../images/good-img-original-2.jpg" /></div>
                            </div>
                        </div>
                        <div class="swiper-button-next js-next hidden-xs-down"><svg class="icon icon_slider-arrow-right"><use xlink:href="./../../images/sprite.svg#slider-arrow-right"></use></svg></div>
                        <div class="swiper-button-prev js-prev hidden-xs-down"><svg class="icon icon_slider-arrow-left"><use xlink:href="./../../images/sprite.svg#slider-arrow-left"></use></svg></div>
                        <div class="navigate-slider hidden-sm-down">
                            <div class="swiper-button-next js-next-nav inner hidden-xs-down"><svg class="icon icon_slider-arrow-right"><use xlink:href="./../../images/sprite.svg#slider-arrow-right"></use></svg></div>
                            <div class="swiper-button-prev js-prev-nav inner hidden-xs-down"><svg class="icon icon_slider-arrow-left"><use xlink:href="./../../images/sprite.svg#slider-arrow-left"></use></svg></div>
                            <div class="swiper-container hidden-sm-down js-navigate-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img class="img" src="../../images/good-img-1.jpg" /></div>
                                    <div class="swiper-slide"><img class="img" src="../../images/good-img-3.jpg" /></div>
                                    <div class="swiper-slide"><img class="img" src="../../images/good-img-4.jpg" /></div>
                                    <div class="swiper-slide"><img class="img" src="../../images/good-img-5.jpg" /></div>
                                    <div class="swiper-slide"><img class="img" src="../../images/good-img-1.jpg" /></div>
                                    <div class="swiper-slide"><img class="img" src="../../images/good-img-2.jpg" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination js-pagination hidden-md-up"></div>
                    </div>
                    <div class="b-good-gallery wrapper-slider float-md-left" data-offer-id="2"><a class="modal-close js-modal-close" href="#"></a>
                        <div class="swiper-container js-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-1.jpg" /></div>
                                <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-2.jpg" /></div>
                                <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-3.jpg" /></div>
                                <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-2.jpg" /></div>
                                <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-1.jpg" /></div>
                                <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-2.jpg" /></div>
                            </div>
                        </div>
                        <div class="swiper-button-next js-next hidden-xs-down"><svg class="icon icon_slider-arrow-right"><use xlink:href="./../../images/sprite.svg#slider-arrow-right"></use></svg></div>
                        <div class="swiper-button-prev js-prev hidden-xs-down"><svg class="icon icon_slider-arrow-left"><use xlink:href="./../../images/sprite.svg#slider-arrow-left"></use></svg></div>
                        <div class="navigate-slider hidden-sm-down">
                            <div class="swiper-button-next js-next-nav inner hidden-xs-down"><svg class="icon icon_slider-arrow-right"><use xlink:href="./../../images/sprite.svg#slider-arrow-right"></use></svg></div>
                            <div class="swiper-button-prev js-prev-nav inner hidden-xs-down"><svg class="icon icon_slider-arrow-left"><use xlink:href="./../../images/sprite.svg#slider-arrow-left"></use></svg></div>
                            <div class="swiper-container hidden-sm-down js-navigate-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-1.jpg" /></div>
                                    <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-2.jpg" /></div>
                                    <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-3.jpg" /></div>
                                    <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-2.jpg" /></div>
                                    <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-1.jpg" /></div>
                                    <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-2.jpg" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination js-pagination hidden-md-up"></div>
                    </div>
                    <div class="b-good-gallery wrapper-slider float-md-left" data-offer-id="3"><a class="modal-close js-modal-close" href="#"></a>
                        <div class="swiper-container js-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-4.jpg" /></div>
                                <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-5.jpg" /></div>
                                <div class="swiper-slide"><img class="img" src="../../images/good-img-5.jpg" /></div>
                                <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-3.jpg" /></div>
                                <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-2.jpg" /></div>
                                <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-1.jpg" /></div>
                            </div>
                        </div>
                        <div class="swiper-button-next js-next hidden-xs-down"><svg class="icon icon_slider-arrow-right"><use xlink:href="./../../images/sprite.svg#slider-arrow-right"></use></svg></div>
                        <div class="swiper-button-prev js-prev hidden-xs-down"><svg class="icon icon_slider-arrow-left"><use xlink:href="./../../images/sprite.svg#slider-arrow-left"></use></svg></div>
                        <div class="navigate-slider hidden-sm-down">
                            <div class="swiper-button-next js-next-nav inner hidden-xs-down"><svg class="icon icon_slider-arrow-right"><use xlink:href="./../../images/sprite.svg#slider-arrow-right"></use></svg></div>
                            <div class="swiper-button-prev js-prev-nav inner hidden-xs-down"><svg class="icon icon_slider-arrow-left"><use xlink:href="./../../images/sprite.svg#slider-arrow-left"></use></svg></div>
                            <div class="swiper-container hidden-sm-down js-navigate-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-4.jpg" /></div>
                                    <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-5.jpg" /></div>
                                    <div class="swiper-slide"><img class="img" src="../../images/good-img-5.jpg" /></div>
                                    <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-3.jpg" /></div>
                                    <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-2.jpg" /></div>
                                    <div class="swiper-slide"><img class="img" src="../../images/good-discount-img-1.jpg" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination js-pagination hidden-md-up"></div>
                    </div>
                    <div class="wrapper-def float-md-left">
                        <div class="item clearfix bordered">
                            <div class="left float-md-left">
                                <div class="wrapper-rating float-md-left clearfix js-scroll-to-review"><span class="caption good-light">Рейтинг товара</span>
                                    <div class="wrapper-stars"><a class="star filled"><svg class="icon icon_good-star"><use xlink:href="./../../images/sprite.svg#good-star"></use></svg></a><a class="star filled"><svg class="icon icon_good-star"><use xlink:href="./../../images/sprite.svg#good-star"></use></svg></a>
                                        <a
                                            class="star filled"><svg class="icon icon_good-star"><use xlink:href="./../../images/sprite.svg#good-star"></use></svg></a><a class="star filled"><svg class="icon icon_good-star"><use xlink:href="./../../images/sprite.svg#good-star"></use></svg></a>
                                            <a
                                                class="star filled"><svg class="icon icon_good-star"><use xlink:href="./../../images/sprite.svg#good-star"></use></svg></a>
                                    </div><span class="review good-light">5 отзывов</span></div>
                                <div class="wrapper-brand float-lg-left float-md-right"><span class="caption good-light">Бренд</span><a href="#">KIMTEC</a></div>
                            </div>
                            <div class="wrapper-code float-md-right float-left clearfix"><span class="caption good-light">Артикул</span><span class="article-val">IMItem00334483</span></div>
                        </div>
                        <div class="bordered item-calc"><a class="calc js-get-calc" href="#" data-target=".js-calc"><svg class="icon icon_good-calc"><use xlink:href="./../../images/sprite.svg#good-calc"></use></svg><span>Сколько материала потребуется?</span></a></div>
                        <div class="item clearfix bordered">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link decorated-link active js-show-gallery" data-toggle="tab" href="#tab-new-goods" role="tab" data-offer-id="1"><span class="tab-span decorated-link">Новые товары</span></a></li>
                                <li class="nav-item"><a class="nav-link link-discount" data-toggle="tab" href="#tab-discount" role="tab"><span class="tab-span decorated-link">Уцененные</span><span class="tab-sum">2</span></a></li>
                            </ul>
                        </div>
                        <div class="tab-pane active show" id="tab-new-goods" role="tabpanel">
                            <div class="item"><span class="in">В наличии</span><br/><span class="out">Под заказ</span>
                                <div class="alert alert-danger">Товара нет в наличии. Вы можете оформить товар "под заказ"</div>
                                <div class="wrapper-adress clearfix">
                                    <div class="address float-left"><span>Курск, База Строитель, ул. Республиканская, 9</span><a class="more js-more hidden-md-down" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Показать наличие в других ТК</a>
                                        <a
                                            class="more hidden-lg-up hidden-sm-down" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Показать в других ТК</a>
                                    </div>
                                    <div class="right float-right">
                                        <div class="quantity js-col-input float-right"><button class="btn less">&mdash;</button><input type="text" value="0" /><button class="btn plus">+</button></div>
                                        <div class="sum float-left"><span>5 шт.</span></div>
                                    </div>
                                </div><a class="hidden-md-up more js-more" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Показать наличие в других ТК</a>
                                <div class="collapse additional-city" id="collapseExample">
                                    <div class="wrapper-adress clearfix">
                                        <div class="address float-left"><span>Курск, База Строитель, ул. Республиканская, 9</span></div>
                                        <div class="right float-right">
                                            <div class="quantity js-col-input float-right"><button class="btn less">&mdash;</button><input type="text" value="0" /><button class="btn plus">+</button></div>
                                            <div class="sum float-left"><span>5 шт.</span></div>
                                        </div>
                                    </div>
                                    <div class="wrapper-adress clearfix">
                                        <div class="address float-left"><span>Курск, База Строитель, ул. Республиканская, 9</span></div>
                                        <div class="right float-right">
                                            <div class="quantity js-col-input float-right"><button class="btn less">&mdash;</button><input type="text" value="0" /><button class="btn plus">+</button></div>
                                            <div class="sum float-left"><span>5 шт.</span></div>
                                        </div>
                                    </div>
                                    <div class="wrapper-adress clearfix">
                                        <div class="address float-left"><span>Курск, База Строитель, ул. Республиканская, 9</span></div>
                                        <div class="right float-right">
                                            <div class="quantity js-col-input float-right"><button class="btn less">&mdash;</button><input type="text" value="0" /><button class="btn plus">+</button></div>
                                            <div class="sum float-left"><span>5 шт.</span></div>
                                        </div>
                                    </div><a class="more-hide js-more-hide more" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Скрыть</a></div>
                            </div>
                            <div class="js-one-block collapse in">
                                <div class="item clearfix wrapper-pack">
                                    <div class="pack float-left hidden-md-down"><a class="js-change-view" href="#" data-target=".js-pack-block">Купить упаковку</a><a class="question" href="#" data-toggle="tooltip" data-placement="bottom" title="Дополнительная информация">?</a>
                                        <div class="prices"><span class="prices-item good-light">5 шт. за 2 485  <span class="rouble">&#8381</span></span><span class="prices-item good-light">1 шт. за 497  <span class="rouble">&#8381</span></span><span class="prices-item good-light">10% экономии</span></div>
                                    </div>
                                    <div class="basket float-md-left float-right"><a class="btn btn-blank" href="#">В корзину<span class="move"><svg class="icon icon_catalog-link"><use xlink:href="./../../images/sprite.svg#catalog-link"></use></svg></span></a>
                                        <div class="text-center"><a class="click js-get-modal" href="#" data-target=".js-fast-modal">Купить в 1 клик</a></div>
                                    </div>
                                    <div class="wrapper-price float-md-right right float-left">
                                        <div class="sum float-left"><span>4 шт.</span></div>
                                        <div class="price float-right"><span>12 150  <span class="rouble">&#8381</span>*</span><span class="old-price">13 500 <span class="rouble">&#8381</span></span>
                                        </div>
                                    </div>
                                    <div class="pack float-left hidden-lg-up"><a class="js-change-view" href="#" data-target=".js-pack-block">Купить упаковку</a><a class="question" href="#">?</a>
                                        <div class="prices"><span class="prices-item">5 шт. за 2 485  <span class="rouble">&#8381</span></span><span class="prices-item">1 шт. за 497  <span class="rouble">&#8381</span></span><span class="prices-item">10% экономии</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="js-pack-block collapse">
                                <div class="item clearfix wrapper-pack pack">
                                    <div class="basket float-md-left float-right"><a class="btn btn-blank" href="#">В корзину<span class="move"><svg class="icon icon_catalog-link"><use xlink:href="./../../images/sprite.svg#catalog-link"></use></svg></span></a></div><a class="click js-get-modal float-right float-md-left central-1-click"
                                        href="#" data-target=".js-fast-modal">Купить в 1 клик</a>
                                    <div class="wrapper-price float-md-right right float-left">
                                        <div class="sum float-left"><span>2 упак.</span></div>
                                        <div class="price float-right"><span>12 150  <span class="rouble">&#8381</span>*</span><span class="old-price">13 500 <span class="rouble">&#8381</span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapper-adress back-link clearfix">
                                    <div class="address float-left"><a class="decorated-link js-change-view" href="#" data-target=".js-one-block">Вернуться к покупке поштучно</a></div>
                                    <div class="right float-right">
                                        <div class="one-price float-right">600 Р</div>
                                        <div class="sum float-left"><span>1 шт.</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="action">
                                <sapn>*Скидка на данный товар не дейтсвует</sapn>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-discount" role="tabpanel">
                            <div class="item item-discount js-show-gallery" data-offer-id="2">
                                <div class="wrapper-adress clearfix">
                                    <div class="address float-left"><span class="span-strong">Состояние как новый</span><span class="span-description">Вскртыая упаковка, полный комплект 256, черный</span>
                                        <div class="light">Курск, База Строитель, ул. Республиканская, 9</div>
                                    </div>
                                    <div class="right float-right">
                                        <div class="quantity js-col-input float-right"><button class="btn less">&mdash;</button><input type="text" value="0" /><button class="btn plus">+</button></div>
                                        <div class="sum float-left"><span>5 шт.</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item item-discount js-show-gallery" data-offer-id="3">
                                <div class="wrapper-adress clearfix">
                                    <div class="address float-left"><span class="span-strong">Состояние как новый</span><span class="span-description">Вскртыая упаковка, полный комплект 256, черный</span>
                                        <div class="light">Курск, База Строитель, ул. Республиканская, 9</div>
                                    </div>
                                    <div class="right float-right">
                                        <div class="quantity js-col-input float-right"><button class="btn less">&mdash;</button><input type="text" value="0" /><button class="btn plus">+</button></div>
                                        <div class="sum float-left"><span>5 шт.</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item clearfix wrapper-pack wrapper-pack-discount">
                                <div class="basket float-md-left float-right"><a class="btn btn-blank" href="#">В корзину<span class="move"><svg class="icon icon_catalog-link"><use xlink:href="./../../images/sprite.svg#catalog-link"></use></svg></span></a>
                                    <div class="text-center"><a class="click js-get-modal" href="#" data-target=".js-fast-modal">Купить в 1 клик</a></div>
                                </div>
                                <div class="wrapper-price float-md-right right float-left">
                                    <div class="sum float-left"><span>4 шт.</span></div>
                                    <div class="price float-right"><span>12 150  <span class="rouble">&#8381</span>*</span><span class="old-price">13 500 <span class="rouble">&#8381</span></span>
                                    </div>
                                </div>
                                <div class="pack float-left hidden-lg-up"><a href="#">Купить упаковку</a><a class="question" href="#">?</a>
                                    <div class="prices"><span class="prices-item">5 шт. за 2 485  <span class="rouble">&#8381</span></span><span class="prices-item">1 шт. за 497  <span class="rouble">&#8381</span></span><span class="prices-item">10% экономии</span></div>
                                </div>
                            </div>
                            <div class="action">
                                <sapn>*Скидка на данный товар не дейтсвует</sapn>
                            </div>
                        </div>
                        <div class="wrapper-share">
                            <div class="wrapper-icons hidden-md-up clearfix"><a class="compare float-right libra js-icon"><span><svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg></span><span class="label">Сравнить</span></a><a class="favorites float-left like js-icon"><span><svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg></span><span class="label">В избранное</span></a></div>
                            <div
                                class="share clearfix">
                                <div class="divide float-left hidden-md-down">Поделиться:</div>
                                <div class="socials float-left"><a class="socials-icon" href="#"><svg class="icon icon_footer-vk"><use xlink:href="./../../images/sprite.svg#footer-vk"></use></svg></a><a class="socials-icon" href="#"><svg class="icon icon_footer-fb"><use xlink:href="./../../images/sprite.svg#footer-fb"></use></svg></a>
                                    <a
                                        class="socials-icon" href="#"><svg class="icon icon_footer-tw"><use xlink:href="./../../images/sprite.svg#footer-tw"></use></svg></a>
                                </div>
                                <div class="wrapper-icons float-right hidden-sm-down"><a class="compare float-right libra js-icon"><span><svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg></span><span class="label">Сравнить</span></a><a class="favorites float-right like js-icon"><span><svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg></span><span class="label">В избранное</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../js/main.js"></script>
    </div>
</body>

</html>