<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-action">
            <div class="container hidden-sm-down max-width">
                <!--Время в минутах-->
                <div class="timer js-timer" data-time="5">05:00</div>
                <div class="title">при оформлении заказа <br> в течение 5&nbsp;минут - скидка 5%</div>
                <div class="delivery"><span class="caption">Доставка<br></span><span class="value">1 500 ₽</span></div>
                <div class="total">К оплате</div>
                <div class="total-value js-total-value">50 150 <span class='rouble'>₽</span></div>
            </div>
            <div class="container hidden-md-up">
                <table class="i-table">
                    <tr>
                        <td>
                            <div class="total">К оплате</div>
                        </td>
                        <td class="text-right">
                            <div class="total-value js-total-value">50 150 <span class='rouble'>₽</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="total">Доставка</div>
                        </td>
                        <td class="text-right">
                            <div class="total-value js-total-value">1 500 <span class='rouble'>₽</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="title">при оформлении заказа <br> в течение 5&nbsp;минут - скидка 5%</div>
                        </td>
                        <td class="text-right">
                            <!--Время в минутах-->
                            <div class="timer js-timer" data-time="5">05:00</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <script src="../../js/main.js"></script>
    </div>
</body>

</html>