<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-actions">
            <div class="container">
                <h2>Акции</h2><a class="all-actions hidden-sm-down" href="#">Все акции</a>
                <div class="wrapper">
                    <div class="swiper-container js-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><a class="item" href="#"><span class="container-img"><img class="img" src="../../images/actions-slide-1.jpg"/></span><span class="text"><span class="h2">Забей на все!</span><span class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</span></span></a></div>
                            <div
                                class="swiper-slide"><a class="item" href="#"><span class="container-img"><img class="img" src="../../images/actions-slide-2.jpg"/></span><span class="text"><span class="h2">Строим дом за полцены</span><span class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</span></span></a></div>
                        <div
                            class="swiper-slide"><a class="item" href="#"><span class="container-img"><img class="img" src="../../images/actions-slide-3.jpg"/></span><span class="text"><span class="h2">Доставка бесплатно</span><span class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</span></span></a></div>
                    <div
                        class="swiper-slide"><a class="item" href="#"><span class="container-img"><img class="img" src="../../images/actions-slide-1.jpg"/></span><span class="text"><span class="h2">Забей на все!</span><span class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</span></span></a></div>
                <div
                    class="swiper-slide"><a class="item" href="#"><span class="container-img"><img class="img" src="../../images/actions-slide-2.jpg"/></span><span class="text"><span class="h2">Строим дом за полцены</span><span class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</span></span></a></div>
            <div
                class="swiper-slide"><a class="item" href="#"><span class="container-img"><img class="img" src="../../images/actions-slide-3.jpg"/></span><span class="text"><span class="h2">Доставка бесплатно</span><span class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</span></span></a></div>
    </div>
    </div>
    <div class="swiper-button-next js-next hidden-xs-down"><svg class="icon icon_slider-arrow-right"><use xlink:href="./../../images/sprite.svg#slider-arrow-right"></use></svg></div>
    <div class="swiper-button-prev js-prev hidden-xs-down"><svg class="icon icon_slider-arrow-left"><use xlink:href="./../../images/sprite.svg#slider-arrow-left"></use></svg></div>
    <div class="pagination js-pagination hidden-md-up"></div>
    </div>
    </div>
    </div>
    <script src="../../js/main.js"></script>
    </div>
</body>

</html>