<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-slider">
            <div class="swiper-container js-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide clearfix"><a class="float-left wrapper-img" href="#"><img class="img hidden-md-down" src="../../images/slider-img-1.jpg"/><img class="img hidden-lg-up hidden-sm-down" src="../../images/slider-img-1-768.jpg"/><img class="img hidden-md-up" src="../../images/slider-img-1-320.jpg"/></a>
                        <div
                            class="wrapper-text float-left">
                            <div class="text">
                                <h2>Гигантские скидки!</h2>
                                <p class="hidden-sm-down">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                <p class="hidden-md-up">Lorem ipsum dolor sit amet, consectetur</p><button class="btn more hidden-sm-down">Узнать больше</button></div>
                    </div>
                </div>
                <div class="swiper-slide clearfix"><a class="float-left wrapper-img" href="#"><img class="img hidden-md-down" src="../../images/slider-img-1.jpg"/><img class="img hidden-lg-up hidden-sm-down" src="../../images/slider-img-1-768.jpg"/><img class="img hidden-md-up" src="../../images/slider-img-1-320.jpg"/></a>
                    <div
                        class="wrapper-text float-left">
                        <div class="text">
                            <h2>Гигантские скидки!</h2>
                            <p class="hidden-sm-down">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            <p class="hidden-md-up">Lorem ipsum dolor sit amet, consectetur</p><button class="btn more hidden-sm-down">Узнать больше</button></div>
                </div>
            </div>
            <div class="swiper-slide clearfix"><a class="float-left wrapper-img" href="#"><img class="img hidden-md-down" src="../../images/slider-img-1.jpg"/><img class="img hidden-lg-up hidden-sm-down" src="../../images/slider-img-1-768.jpg"/><img class="img hidden-md-up" src="../../images/slider-img-1-320.jpg"/></a>
                <div
                    class="wrapper-text float-left">
                    <div class="text">
                        <h2>Гигантские скидки!</h2>
                        <p class="hidden-sm-down">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt.</p>
                        <p class="hidden-md-up">Lorem ipsum dolor sit amet, consectetur</p><button class="btn more hidden-sm-down">Узнать больше</button></div>
            </div>
        </div>
    </div>
    <div class="swiper-button-next js-next hidden-xs-down"><svg class="icon icon_slider-arrow-right"><use xlink:href="./../../images/sprite.svg#slider-arrow-right"></use></svg></div>
    <div class="swiper-button-prev js-prev hidden-xs-down"><svg class="icon icon_slider-arrow-left"><use xlink:href="./../../images/sprite.svg#slider-arrow-left"></use></svg></div>
    <div class="pagination js-pagination"></div>
    </div>
    </div>
    <script src="../../js/main.js"></script>
    </div>
</body>

</html>