<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site equal-height" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="content">
                   <div class="b-carousel">
            <div class="container">
                <h2></h2>
                <div class="swiper-container js-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" data-type="n1">
                            <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-1.png"/></a>
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                    <a
                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                        <a
                                            class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                <div class="badge">В наличии!</div>
                                <a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a>
                                <div class="wrapper-icons clearfix float-md-right">
                                    <a class="float-right calc js-icon float-md-left js-get-calc" href="#" data-target=".js-calc"><svg class="icon icon_good-calc"><use xlink:href="./../../images/sprite.svg#good-calc"></use></svg></a>
                                    
                                    <div class="wrapper-icon float-right float-md-right">
                                        <div class="compare libra js-icon js-add-to-compare ">
                                            <span>
                                                <svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в сравнение</span>
                                            <a href="#">Перейти к сравнению</a>
                                        </div>                                                                               
                                    </div>
                                        
                                    <div class="wrapper-icon float-right float-md-left">
                                        <div class="favorites like js-icon">
                                            <span>
                                                <svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в избранное</span>
                                            <a href="#">Перейти к избранному</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-type="n2">
                            <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-2.png"/></a>
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                    <a
                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                        <a
                                            class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                <div class="badge">В наличии!</div>
                                <a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a>
                                <div class="wrapper-icons clearfix float-md-right">
                                    <a class="float-right calc js-icon float-md-left js-get-calc" href="#" data-target=".js-calc"><svg class="icon icon_good-calc"><use xlink:href="./../../images/sprite.svg#good-calc"></use></svg></a>
                                    
                                    <div class="wrapper-icon float-right float-md-right">
                                        <div class="compare libra js-icon js-add-to-compare ">
                                            <span>
                                                <svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в сравнение</span>
                                            <a href="#">Перейти к сравнению</a>
                                        </div>                                                                               
                                    </div>
                                        
                                    <div class="wrapper-icon float-right float-md-left">
                                        <div class="favorites like js-icon">
                                            <span>
                                                <svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в избранное</span>
                                            <a href="#">Перейти к избранному</a>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        <div class="swiper-slide" data-type="n1">
                            <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-3.png"/></a>
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                    <a
                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                        <a
                                            class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                <div class="badge">В наличии!</div>
                                <a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a>
                                <div class="wrapper-icons clearfix float-md-right">
                                    <a class="float-right calc js-icon float-md-left js-get-calc" href="#" data-target=".js-calc"><svg class="icon icon_good-calc"><use xlink:href="./../../images/sprite.svg#good-calc"></use></svg></a>
                                    
                                    <div class="wrapper-icon float-right float-md-right">
                                        <div class="compare libra js-icon js-add-to-compare ">
                                            <span>
                                                <svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в сравнение</span>
                                            <a href="#">Перейти к сравнению</a>
                                        </div>                                                                               
                                    </div>
                                        
                                    <div class="wrapper-icon float-right float-md-left">
                                        <div class="favorites like js-icon">
                                            <span>
                                                <svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в избранное</span>
                                            <a href="#">Перейти к избранному</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-type="n1">
                            <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-1.png"/></a>
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                    <a
                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                        <a
                                            class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                <div class="badge">В наличии!</div>
                                <a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a>
                                <div class="wrapper-icons clearfix float-md-right">
                                    <a class="float-right calc js-icon float-md-left js-get-calc" href="#" data-target=".js-calc"><svg class="icon icon_good-calc"><use xlink:href="./../../images/sprite.svg#good-calc"></use></svg></a>
                                    
                                    <div class="wrapper-icon float-right float-md-right">
                                        <div class="compare libra js-icon js-add-to-compare ">
                                            <span>
                                                <svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в сравнение</span>
                                            <a href="#">Перейти к сравнению</a>
                                        </div>                                                                               
                                    </div>
                                        
                                    <div class="wrapper-icon float-right float-md-left">
                                        <div class="favorites like js-icon">
                                            <span>
                                                <svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в избранное</span>
                                            <a href="#">Перейти к избранному</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-type="n2">
                            <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-2.png"/></a>
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                    <a
                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                        <a
                                            class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                <div class="badge">В наличии!</div>
                                <a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a>
                                <div class="wrapper-icons clearfix float-md-right">
                                    <a class="float-right calc js-icon float-md-left js-get-calc" href="#" data-target=".js-calc"><svg class="icon icon_good-calc"><use xlink:href="./../../images/sprite.svg#good-calc"></use></svg></a>
                                    
                                    <div class="wrapper-icon float-right float-md-right">
                                        <div class="compare libra js-icon js-add-to-compare ">
                                            <span>
                                                <svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в сравнение</span>
                                            <a href="#">Перейти к сравнению</a>
                                        </div>                                                                               
                                    </div>
                                        
                                    <div class="wrapper-icon float-right float-md-left">
                                        <div class="favorites like js-icon">
                                            <span>
                                                <svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в избранное</span>
                                            <a href="#">Перейти к избранному</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-type="n1">
                            <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-3.png"/></a>
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                    <a
                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                        <a
                                            class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                <div class="badge">В наличии!</div>
                                <a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a>
                                <div class="wrapper-icons clearfix float-md-right">
                                    <a class="float-right calc js-icon float-md-left js-get-calc" href="#" data-target=".js-calc"><svg class="icon icon_good-calc"><use xlink:href="./../../images/sprite.svg#good-calc"></use></svg></a>
                                    
                                    <div class="wrapper-icon float-right float-md-right">
                                        <div class="compare libra js-icon js-add-to-compare ">
                                            <span>
                                                <svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в сравнение</span>
                                            <a href="#">Перейти к сравнению</a>
                                        </div>                                                                               
                                    </div>
                                        
                                    <div class="wrapper-icon float-right float-md-left">
                                        <div class="favorites like js-icon">
                                            <span>
                                                <svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в избранное</span>
                                            <a href="#">Перейти к избранному</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-type="n1">
                            <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-1.png"/></a>
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                    <a
                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                        <a
                                            class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                <div class="badge">В наличии!</div>
                                <a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a>
                                <div class="wrapper-icons clearfix float-md-right">
                                    <a class="float-right calc js-icon float-md-left js-get-calc" href="#" data-target=".js-calc"><svg class="icon icon_good-calc"><use xlink:href="./../../images/sprite.svg#good-calc"></use></svg></a>
                                    
                                    <div class="wrapper-icon float-right float-md-right">
                                        <div class="compare libra js-icon js-add-to-compare ">
                                            <span>
                                                <svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в сравнение</span>
                                            <a href="#">Перейти к сравнению</a>
                                        </div>                                                                               
                                    </div>
                                        
                                    <div class="wrapper-icon float-right float-md-left">
                                        <div class="favorites like js-icon">
                                            <span>
                                                <svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в избранное</span>
                                            <a href="#">Перейти к избранному</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-type="n2">
                            <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-2.png"/></a>
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                    <a
                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                        <a
                                            class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                <div class="badge">В наличии!</div>
                                <a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a>
                                <div class="wrapper-icons clearfix float-md-right">
                                    <a class="float-right calc js-icon float-md-left js-get-calc" href="#" data-target=".js-calc"><svg class="icon icon_good-calc"><use xlink:href="./../../images/sprite.svg#good-calc"></use></svg></a>
                                    
                                    <div class="wrapper-icon float-right float-md-right">
                                        <div class="compare libra js-icon js-add-to-compare ">
                                            <span>
                                                <svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в сравнение</span>
                                            <a href="#">Перейти к сравнению</a>
                                        </div>                                                                               
                                    </div>
                                        
                                    <div class="wrapper-icon float-right float-md-left">
                                        <div class="favorites like js-icon">
                                            <span>
                                                <svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в избранное</span>
                                            <a href="#">Перейти к избранному</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-type="n1">
                            <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-3.png"/></a>
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                    <a
                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                        <a
                                            class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                <div class="badge">В наличии!</div>
                                <a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a>
                                <div class="wrapper-icons clearfix float-md-right">
                                    <a class="float-right calc js-icon float-md-left js-get-calc" href="#" data-target=".js-calc"><svg class="icon icon_good-calc"><use xlink:href="./../../images/sprite.svg#good-calc"></use></svg></a>
                                    
                                    <div class="wrapper-icon float-right float-md-right">
                                        <div class="compare libra js-icon js-add-to-compare ">
                                            <span>
                                                <svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в сравнение</span>
                                            <a href="#">Перейти к сравнению</a>
                                        </div>                                                                               
                                    </div>
                                        
                                    <div class="wrapper-icon float-right float-md-left">
                                        <div class="favorites like js-icon">
                                            <span>
                                                <svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в избранное</span>
                                            <a href="#">Перейти к избранному</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-type="n1">
                            <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-1.png"/></a>
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                    <a
                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                        <a
                                            class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                <div class="badge">В наличии!</div>
                                <a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a>
                                <div class="wrapper-icons clearfix float-md-right">
                                    <a class="float-right calc js-icon float-md-left js-get-calc" href="#" data-target=".js-calc"><svg class="icon icon_good-calc"><use xlink:href="./../../images/sprite.svg#good-calc"></use></svg></a>
                                    
                                    <div class="wrapper-icon float-right float-md-right">
                                        <div class="compare libra js-icon js-add-to-compare ">
                                            <span>
                                                <svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в сравнение</span>
                                            <a href="#">Перейти к сравнению</a>
                                        </div>                                                                               
                                    </div>
                                        
                                    <div class="wrapper-icon float-right float-md-left">
                                        <div class="favorites like js-icon">
                                            <span>
                                                <svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в избранное</span>
                                            <a href="#">Перейти к избранному</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-type="n2">
                            <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-2.png"/></a>
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                    <a
                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                        <a
                                            class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                <div class="badge">В наличии!</div>
                                <a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a>
                                <div class="wrapper-icons clearfix float-md-right">
                                    <a class="float-right calc js-icon float-md-left js-get-calc" href="#" data-target=".js-calc"><svg class="icon icon_good-calc"><use xlink:href="./../../images/sprite.svg#good-calc"></use></svg></a>
                                    
                                    <div class="wrapper-icon float-right float-md-right">
                                        <div class="compare libra js-icon js-add-to-compare ">
                                            <span>
                                                <svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в сравнение</span>
                                            <a href="#">Перейти к сравнению</a>
                                        </div>                                                                               
                                    </div>
                                        
                                    <div class="wrapper-icon float-right float-md-left">
                                        <div class="favorites like js-icon">
                                            <span>
                                                <svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в избранное</span>
                                            <a href="#">Перейти к избранному</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-type="n1">
                            <div class="item"><a class="img" href="#"><img src="../../images/carousel-img-3.png"/></a>
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                <div class="rating"><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                    <a
                                        class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><a class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a>
                                        <a
                                            class="star filled"><svg class="icon icon_carousel-rate"><use xlink:href="./../../images/sprite.svg#carousel-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                <div class="badge">В наличии!</div>
                                <a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_carousel-link"><use xlink:href="./../../images/sprite.svg#carousel-link"></use></svg></span></a>
                                <div class="wrapper-icons clearfix float-md-right">
                                    <a class="float-right calc js-icon float-md-left js-get-calc" href="#" data-target=".js-calc"><svg class="icon icon_good-calc"><use xlink:href="./../../images/sprite.svg#good-calc"></use></svg></a>
                                    
                                    <div class="wrapper-icon float-right float-md-right">
                                        <div class="compare libra js-icon js-add-to-compare ">
                                            <span>
                                                <svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в сравнение</span>
                                            <a href="#">Перейти к сравнению</a>
                                        </div>                                                                               
                                    </div>
                                        
                                    <div class="wrapper-icon float-right float-md-left">
                                        <div class="favorites like js-icon">
                                            <span>
                                                <svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в избранное</span>
                                            <a href="#">Перейти к избранному</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next js-next hidden-xs-down"><svg class="icon icon_slider-arrow-right"><use xlink:href="./../../images/sprite.svg#slider-arrow-right"></use></svg></div>
                <div class="swiper-button-prev js-prev hidden-xs-down"><svg class="icon icon_slider-arrow-left"><use xlink:href="./../../images/sprite.svg#slider-arrow-left"></use></svg></div>
                <div class="pagination js-pagination"></div>
            </div>
            <div class="b-calc js-calc"><a class="calc-close js-calc-close" href="#"><svg class="icon icon_calc-close"><use xlink:href="./../../images/sprite.svg#calc-close"></use></svg></a>
                <div class="calc-body active">
                    <h2 class="title">Калькулятор</h2>
                    <form class="form" action="#">
                        <div class="form-group"><select class="form-control"><option>Выпадающий список</option><option>Выпадающий список</option><option>Выпадающий список</option><option>Выпадающий список</option></select></div>
                        <div class="form-group"><input class="form-control" type="text" placeholder="Введите значение..." /></div>
                        <div class="form-group"><input class="form-control" type="text" placeholder="Ширина (см) ..." /></div>
                        <div class="form-group text-center"><button class="btn btn-success js-next-step">Рассчитать</button></div>
                    </form>
                </div>
                <div class="calc-body">
                    <h2 class="title">Калькулятор</h2>
                    <p class="text-center text">Необходимое количество уплотнителя KIMTEC D-100 для помещения 6 м<sup>2</sup></p>
                    <p class="text-center big text">4 шт.</p>
                    <div class="buy-block text-center">
                        <div class="price"><span>12 150 <span class="rouble">&#8381</span></span>
                        </div><a class="btn btn-blank" href="#">В корзину<span class="move"><svg class="icon icon_catalog-link"><use xlink:href="./../../images/sprite.svg#catalog-link"></use></svg></span></a></div>
                    <div class="form-group text-center btn-cont"><button class="btn btn-outline-success">Сохранить расчет</button><br/><button class="btn btn-outline-success">Новый расчет</button></div>
                </div>
                <div class="form-group bordered"><select class="form-control"><option>Сохранённые расчёты</option><option>Сохранённые расчёты</option><option>Сохранённые расчёты</option><option>Сохранённые расчёты</option></select></div>
            </div>

        </div> 
        </div>


        <script src="../../js/main.js"></script>
    </div>
</body>

</html>