<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-filter max-width">
            <div class="container">
                <h2>Дверная фурнитура</h2>
                <div class="quantity"><span class="sum">232</span><span>товара</span></div>
            </div>
            <div class="container">
                <!--+select(['вода','газ', 'свет'])-->
                <form class="form" action="#">
                    <div class="filter-collapse js-filter-collapse">
                        <div class="filter">
                            <div class="row wrapper">
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group"><select class="js-select form-control" data-count="2" multiple="multiple" placeholder="Производитель"><option value="1" title="Apple">Apple</option><option value="1" title="Samsung">Samsung</option><option value="1" title="Asus">Asus</option><option value="1" title="Meizu">Meizu</option></select></div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group"><select class="js-select form-control" data-count="4" multiple="multiple" placeholder="Цена"><option value="1" title="цена">цена</option><option value="1" title="цена">цена</option><option value="1" title="цена">цена</option><option value="1" title="цена">цена</option><option value="1" title="цена">цена</option><option value="1" title="цена">цена</option><option value="1" title="цена">цена</option><option value="1" title="цена">цена</option><option value="1" title="цена">цена</option></select></div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group color-parent"><select class="js-color-select form-control" data-count="2" multiple="multiple" placeholder="Цвет"><option value="#FFF" title="Белый цвет"></option><option value="#6f3e18" title="Коричневый цвет"></option><option value="#d4be8d" title="Песочный цвет"></option><option value="#838383" title="Серый цвет"></option><option value="#345aff" title="Синий цвет"></option><option value="#25b53a" title="Зелёный цвет"></option><option value="#ff6501" title="Оранжевый цвет"></option><option value="#fffc00" title="Жёлтый цвет"></option><option value="#ea0001" title="Красный цвет"></option></select></div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group"><select class="js-select form-control" data-count="5" multiple="multiple" placeholder="Коллекция"><option value="1" title="коллекция">коллекция</option><option value="1" title="коллекция">коллекция</option><option value="1" title="коллекция">коллекция</option><option value="1" title="коллекция">коллекция</option><option value="1" title="коллекция">коллекция</option><option value="1" title="коллекция">коллекция</option></select></div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group"><select class="js-select form-control" data-count="7" multiple="multiple" placeholder="Комплект"><option value="1" title="комплект">комплект</option><option value="1" title="комплект">комплект</option><option value="1" title="комплект">комплект</option><option value="1" title="комплект">комплект</option><option value="1" title="комплект">комплект</option><option value="1" title="комплект">комплект</option></select></div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group"><select class="js-select form-control" data-count="1" multiple="multiple" placeholder="Диапазон"><option value="1" title="диапазон">диапазон</option><option value="1" title="диапазон">диапазон</option><option value="1" title="диапазон">диапазон</option><option value="1" title="диапазон">диапазон</option><option value="1" title="диапазон">диапазон</option><option value="1" title="диапазон">диапазон</option></select></div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group"><select class="js-select form-control" data-count="2" multiple="multiple" placeholder="Множественный выбор"><option value="1" title="Множественный выбор">Множественный выбор</option><option value="1" title="Множественный выбор">Множественный выбор</option><option value="1" title="Множественный выбор">Множественный выбор</option><option value="1" title="Множественный выбор">Множественный выбор</option><option value="1" title="Множественный выбор">Множественный выбор</option></select></div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group"><select class="js-select form-control" data-count="2" multiple="multiple" placeholder="Специальное значение"><option value="1" title="Специальное значение">Специальное значение</option><option value="1" title="Специальное значение">Специальное значение</option><option value="1" title="Специальное значение">Специальное значение</option><option value="1" title="Специальное значение">Специальное значение</option><option value="1" title="Специальное значение">Специальное значение</option></select></div>
                                </div>
                            </div>
                        </div>
                        <div class="selected js-selected clearfix">
                            <div class="wrapper-selected filter-el text-left">
                                <div class="filter-el chose">Вы выбрали:</div><button class="submit btn filter-el hidden-sm-down">Показать 12 результатов</button><button class="btn reset filter-el hidden-sm-down js-clear">Сбросить фильтр<svg class="filter-icon icon"><use xlink:href="../../images/sprite.svg#filter-close"></use></svg></button>
                                <button
                                    class="btn btn-block btn-success hidden-md-up">Показать 12 результатов</button><button class="btn btn-block btn-secondary hidden-md-up js-clear">Сбросить фильтр</button></div>
                        </div>
                    </div><button class="btn filtres hidden-md-up js-get-filters">Фильтры</button></form>
            </div>
        </div>
        <script src="../../js/main.js"></script>
    </div>
</body>

</html>