<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-bonus">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <h3>Бонусная карта</h3>
                        <p class="light">Зарегистрирована 27 ноября 2016 г.</p>
                        <div class="row">
                            <div class="col-12 col-md-5 col-lg-7"><img src="../../images/bonus-code.png" /></div>
                            <div class="col-12 col-md-7 col-lg-5">
                                <div class="link-cont"><a class="light" href="#"><svg class="icon icon_bonus-save"><use xlink:href="./../../images/sprite.svg#bonus-save"></use></svg>Сохранить PDF</a></div>
                                <div class="link-cont"><a class="light" href="#"><svg class="icon icon_bonus-print"><use xlink:href="./../../images/sprite.svg#bonus-print"></use></svg>Распечатать</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="wrapper">
                            <h3>Баланс и процент бонусов</h3>
                            <div class="big">Доступно бонусов: <strong>3502</strong><br/>Процента начисляемых бонусов: <strong>15%</strong></div>
                            <p class="light">Для повышения накопительного процента осталось совершить покупки на сумму 500 руб.</p>
                            <div class="alert alert-info">Ознакомьтесь с<a href="#" class="blank"> Правилами</a> накопления, списания и использования данной карты.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../js/main.js"></script>
    </div>
</body>

</html>