<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-sitemap max-width">
            <div class="container">
                <h2>Карта сайта</h2>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="toggler js-tabs-header"><a class="item active" href="#tab-1">Информация</a><a class="item item-right" href="#tab-2">Каталог<span class="hidden-sm-down"> товаров</span></a></div>
                        <div class="section hidden-md-up">
                            <div class="first-level first-more"><a class="more js-open-all" href="#">Раскрыть все разделы</a></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="section">
                            <div class="first-level first-more hidden-sm-down"><a class="more js-open-all" href="#">Раскрыть все разделы</a></div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-body active" id="tab-1">
                    <div class="col-12 col-md-6">
                        <div class="section">
                            <div class="first-level"><a href="#">Главная</a></div>
                        </div>
                        <div class="section">
                            <div class="first-level"><a href="#">О компании</a></div>
                            <div class="second-level"><a href="#additional" data-toggle="collapse">Услуги</a>
                                <div class="collapse" id="additional">
                                    <div class="inner">
                                        <div class="second-level"><a href="#">Доставка и подъём на этаж</a></div>
                                        <div class="second-level"><a href="#">Установка сантехники</a></div>
                                        <div class="second-level"><a href="#">Установка дверей</a></div>
                                        <div class="second-level"><a href="#">Монтаж натяжных потолков</a></div>
                                        <div class="second-level"><a href="#">Пошив штор</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="second-level"><a href="#">Развитие</a></div>
                            <div class="second-level"><a href="#">Политика</a></div>
                            <div class="second-level"><a href="#">Вакансии</a></div>
                            <div class="second-level"><a href="#">Контакты</a></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="section">
                            <div class="first-level"><a href="#">Интернет-магазин</a></div>
                            <div class="second-level"><a href="#">Оплата</a></div>
                            <div class="second-level"><a href="#">Доставка</a></div>
                            <div class="second-level"><a href="#">Покупка в кредит</a></div>
                            <div class="second-level"><a href="#">Бонусно-накопительная карта</a></div>
                            <div class="second-level"><a href="#">Подарочная карта</a></div>
                            <div class="second-level"><a href="#">Гарантии "СтройГигант"</a></div>
                            <div class="second-level"><a href="#">Публичная оферта</a></div>
                        </div>
                        <div class="section">
                            <div class="first-level"><a href="#">Сотрудничество</a></div>
                            <div class="second-level"><a href="#">Оптовикам</a></div>
                            <div class="second-level"><a href="#">Арендаторам</a></div>
                            <div class="second-level"><a href="#">Поставщикам</a></div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-body" id="tab-2">
                    <div class="col-12 col-md-6">
                        <div class="section">
                            <div class="first-level"><a href="#">Главная2</a></div>
                        </div>
                        <div class="section">
                            <div class="first-level"><a href="#">О компании</a></div>
                            <div class="second-level"><a href="#additionalSecond" data-toggle="collapse">Услуги</a>
                                <div class="collapse" id="additionalSecond">
                                    <div class="inner">
                                        <div class="second-level"><a href="#">Доставка и подъём на этаж</a></div>
                                        <div class="second-level"><a href="#">Установка сантехники</a></div>
                                        <div class="second-level"><a href="#">Установка дверей</a></div>
                                        <div class="second-level"><a href="#">Монтаж натяжных потолков</a></div>
                                        <div class="second-level"><a href="#">Пошив штор</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="second-level"><a href="#">Развитие</a></div>
                            <div class="second-level"><a href="#">Политика</a></div>
                            <div class="second-level"><a href="#">Вакансии</a></div>
                            <div class="second-level"><a href="#">Контакты</a></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="section">
                            <div class="first-level"><a href="#">Интернет-магазин</a></div>
                            <div class="second-level"><a href="#">Оплата</a></div>
                            <div class="second-level"><a href="#">Доставка</a></div>
                            <div class="second-level"><a href="#">Покупка в кредит</a></div>
                            <div class="second-level"><a href="#">Бонусно-накопительная карта</a></div>
                            <div class="second-level"><a href="#">Подарочная карта</a></div>
                            <div class="second-level"><a href="#">Гарантии "СтройГигант"</a></div>
                            <div class="second-level"><a href="#">Публичная оферта</a></div>
                        </div>
                        <div class="section">
                            <div class="first-level"><a href="#">Сотрудничество</a></div>
                            <div class="second-level"><a href="#">Оптовикам</a></div>
                            <div class="second-level"><a href="#">Арендаторам</a></div>
                            <div class="second-level"><a href="#">Поставщикам</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../js/main.js"></script>
    </div>
</body>

</html>