<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-job-vacancy max-width">
            <div class="container">
                <h1 class="h2">Вакансия продавца-консультанта</h1>
                <div class="social"><img class="hidden-sm-down" src="../../images/article-social.png" alt="#" /><img class="hidden-md-up" src="../../images/job-vacancy-social.png" alt="#" /></div>
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="sub-section-top"><time class="time">11 февраля 2017</time>
                            <div class="tags"><a class="tag" href="#">Курск</a><a class="tag" href="#">Продажи</a></div>
                        </div>
                        <div class="sub-section">
                            <h3>Должностные обязанности</h3>
                            <ul class="ul-list">
                                <li>Привлечение и консультирование клиентов в наших фирменных салонах (мебель для спальни, кровати, шкафы-купе, ортопедические матрасы и подушки);</li>
                                <li>Расчет заказа;</li>
                                <li>Продажа и оформление договора;</li>
                                <li class="hidden-sm-down">Оформление продажи;</li>
                                <li class="hidden-sm-down">Ведение отчетности.</li>
                            </ul>
                        </div>
                        <div class="sub-section">
                            <h3>Требования</h3>
                            <ul class="ul-list">
                                <li>Опыт работы в продаж (желателен)</li>
                                <li>Умение и желание работать в активных продажах с привлечением клиентов</li>
                                <li class="hidden-md-up">Активность, целеустремленность</li>
                                <li class="hidden-sm-down">Активность, целеустремленность, нацеленность на результат</li>
                                <li class="hidden-sm-down">Опытный пользователь ПК (Word, Excel, электронная почта)</li>
                                <li class="hidden-sm-down">Высокая обучаемость и желание развиваться</li>
                            </ul>
                        </div>
                        <div class="sub-section">
                            <h3>Условия</h3>
                            <p class="hidden-sm-down">Компания Торис, лидер в области производства высококачественных ортопедических матрасов в России и мебели из натурального дерева приглашает талантливых продавцов!</p>
                            <p class="hidden-md-up">Компания Торис, лидер в области производства высококачественных ортопедических матрасов в России</p>
                            <ul class="ul-list">
                                <li>Оплачиваемое корпоративное обучение (Учебный центр Торис (м. ВДНХ), оплата дороги, транспортных расходов, выплата стипендии при успешном прохождении обучения);</li>
                                <li>Официальное трудоустройство с первого дня обучения;</li>
                                <li>Достойную оплату труда (оклад + бонусы от продаж);</li>
                                <li>Возможность выбора места работы рядом с домом (ТЦ);</li>
                                <li class="hidden-md-up">Сменный график работы 2/2 с 10</li>
                                <li class="hidden-sm-down">Сменный график работы 2/2 с 10 до 22;</li>
                                <li class="hidden-sm-down">Возможность карьерного и профессионального роста</li>
                                <li class="hidden-lg-up hidden-sm-down">Адрес: ТЦ Башиловский (м. Дмитровская) и ТЦ Гранд (м. Речной Вокзал)</li>
                                <li class="hidden-lg-up hidden-sm-down">Сменный график работы</li>
                                <li class="hidden-lg-up hidden-sm-down">На территории работодателя</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <form class="b-job-form">
                            <h2>Отклик на вакансию</h2>
                            <div class="sub-section">
                                <h3>Личные данные</h3>
                                <div class="form-group required"><label>Фамилия</label><input class="form-control" type="text" placeholder="Фамилия" /></div>
                                <div class="form-group required"><label>Имя</label><input class="form-control" type="text" placeholder="Имя" /></div>
                                <div class="form-group required"><label>Отчество</label><input class="form-control" type="text" placeholder="Отчество" /></div>
                                <div class="form-group"><label>Дата рождения</label>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group form-group-custom"><select class="form-control js-select"><option>День</option></select></div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group form-group-custom"><select class="form-control js-select"><option>Месяц</option></select></div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group form-group-custom"><select class="form-control js-select"><option>Год</option></select></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group required"><label>Гражданство</label><input class="form-control" type="text" placeholder="Гражданин РФ" /></div>
                                <div class="form-group required"><label>Место проживания</label><input class="form-control" type="text" placeholder="Населённый пункт, улица" /></div>
                                <div class="form-group"><label>Прикрепить фото</label>
                                    <div class="clearfix">
                                        <div class="avatar"><img src="../../images/job-form-avatar.png" /></div>
                                        <div class="photo">
                                            <div><a class="decorated-link" href="#">Загрузить файл</a></div>
                                            <div class="or">или</div><input class="form-control" type="text" placeholder="Ссылка на фото" /></div>
                                    </div>
                                </div>
                            </div>
                            <div class="sub-section">
                                <h3>Контактная информация</h3>
                                <div class="form-group required"><label>Номер телефона</label><input class="form-control js-tel" type="tel" /></div>
                                <div class="form-group required"><label>E-mail</label><input class="form-control" type="email" /></div>
                            </div>
                            <div class="sub-section">
                                <h3>Образование</h3>
                                <div class="form-group"><label>Образование</label><select class="form-control js-select"><option>Среднее общее</option></select>
                                    <div class="bottom-line"><a class="js-collapse-control" href="#collapse-3" data-toggle="collapse">Развернуть</a>
                                        <div class="collapse" id="collapse-3">Text from collapse</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h3>Опыт работы</h3>
                                    <div class="bottom-line"><a class="js-collapse-control" href="#collapse-1" data-toggle="collapse">Развернуть</a>
                                        <div class="collapse" id="collapse-1">Text from collapse</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h3>Дополнительная информация</h3>
                                    <div class="bottom-line"><a class="js-collapse-control" href="#collapse-2" data-toggle="collapse">Развернуть</a>
                                        <div class="collapse" id="collapse-2">Text from collapse</div>
                                    </div>
                                </div>
                                <div class="form-group"><input class="checkbox" type="checkbox" id="a1" for="a1" /><label for="a1">Я даю согласие на обработку персональных данных</label></div>
                                <div class="form-group"><button class="btn btn-outline-success btn-block">Откликнуться на вакансию</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../js/main.js"></script>
    </div>
</body>

</html>