<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-offers">
            <div class="container">
                <div class="wrapper">
                    <div class="item left-block"><a href="#"><img class="img" src="../../images/offers-kits.png"/><h2>Выгодные комплекты</h2><span class="span-title">Скидки на товарты до 100%</span><span class="span-link">Подробнее</span></a></div>
                    <div class="item center-block"><a href="#"><img class="img" src="../../images/offers-delivery.png"/><h2>Бесплатная доставка</h2><span class="span-title">При заказе от 5 000 Р</span><span class="span-link">Подробнее</span></a></div>
                    <div class="item right-block"><a href="#"><img class="img" src="../../images/offers-return.png"/><h2>7 дней на возврат</h2><span class="span-title">При наличии кассового чека</span><span class="span-link">Подробнее</span></a></div>
                </div>
            </div>
        </div>
        <script src="../../js/main.js"></script>
    </div>
</body>

</html>