<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-place">
            <div class="container">
                <figure>
                    <h2 class="h1 title">Мы рядом!</h2><img class="hidden-md-down" src="../../images/place-map.jpg" /><img class="hidden-lg-up hidden-sm-down" src="../../images/place-map-768.jpg" /><img class="hidden-md-up" src="../../images/place-map-320.jpg" /></figure>
                <table class="blank-table text-center hidden-sm-down">
                    <tr>
                        <td>
                            <div class="td-title">100 га</div>
                            <div class="td-value">общая площадь</div>
                        </td>
                        <td>
                            <div class="td-title">50 тыс.</div>
                            <div class="td-value">товаров</div>
                        </td>
                        <td>
                            <div class="td-title">1,2 тыс.</div>
                            <div class="td-value">покупателей</div>
                        </td>
                        <td>
                            <div class="td-title">15 лет</div>
                            <div class="td-value">на рынке</div>
                        </td>
                    </tr>
                </table>
                <table class="blank-table text-center hidden-md-up">
                    <tr>
                        <td>
                            <div class="td-title">100 Га</div>
                            <div class="td-value">общая площадь</div>
                        </td>
                        <td>
                            <div class="td-title">50 тыс.</div>
                            <div class="td-value">товаров</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="td-title">12 тыс.</div>
                            <div class="td-value">покупателей</div>
                        </td>
                        <td>
                            <div class="td-title">15 лет</div>
                            <div class="td-value">на рынке</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <script src="../../js/main.js"></script>
    </div>
</body>

</html>