<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-history">
            <div class="container">
                <h2>История просмотров</h2>
                <div class="swiper-container js-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="item"><a class="img" href="#"><img src="../../images/history-img-1.png"/></a>
                                <div class="wrapper-total">
                                    <div class="price">12 150 <span class='rouble'>₽</span>
                                        <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                    </div>
                                    <div class="wrapper-title">
                                        <div class="rating"><a class="star filled"><svg class="icon icon_history-rate"><use xlink:href="./../../images/sprite.svg#history-rate"></use></svg></a><a class="star filled"><svg class="icon icon_history-rate"><use xlink:href="./../../images/sprite.svg#history-rate"></use></svg></a>
                                            <a
                                                class="star filled"><svg class="icon icon_history-rate"><use xlink:href="./../../images/sprite.svg#history-rate"></use></svg></a><a class="star filled"><svg class="icon icon_history-rate"><use xlink:href="./../../images/sprite.svg#history-rate"></use></svg></a>
                                                <a
                                                    class="star filled"><svg class="icon icon_history-rate"><use xlink:href="./../../images/sprite.svg#history-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                        <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                    </div>
                                </div>
                                <div class="badge">В наличии</div><a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_history-link"><use xlink:href="./../../images/sprite.svg#history-link"></use></svg></span></a>
                                <div class="wrapper-icons clearfix float-md-right">
                                    <a class="float-right calc js-icon float-md-left js-get-calc" href="#" data-target=".js-calc"><svg class="icon icon_good-calc"><use xlink:href="./../../images/sprite.svg#good-calc"></use></svg></a>
                                    
                                    <div class="wrapper-icon float-right float-md-right">
                                        <div class="compare libra js-icon js-add-to-compare ">
                                            <span>
                                                <svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в сравнение</span>
                                            <a href="#">Перейти к сравнению</a>
                                        </div>                                                                               
                                    </div>
                                        
                                    <div class="wrapper-icon float-right float-md-left">
                                        <div class="favorites like js-icon">
                                            <span>
                                                <svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg>
                                            </span>
                                        </div>
                                        <div class="link-dropdown">
                                            <span>Добавить в избранное</span>
                                            <a href="#">Перейти к избранному</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item"><a class="img" href="#"><img src="../../images/history-img-2.png"/></a>
                                <div class="wrapper-total">
                                    <div class="price">12 150 <span class='rouble'>₽</span>
                                        <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                    </div>
                                    <div class="wrapper-title">
                                        <div class="rating"><a class="star filled"><svg class="icon icon_history-rate"><use xlink:href="./../../images/sprite.svg#history-rate"></use></svg></a><a class="star filled"><svg class="icon icon_history-rate"><use xlink:href="./../../images/sprite.svg#history-rate"></use></svg></a>
                                            <a
                                                class="star filled"><svg class="icon icon_history-rate"><use xlink:href="./../../images/sprite.svg#history-rate"></use></svg></a><a class="star filled"><svg class="icon icon_history-rate"><use xlink:href="./../../images/sprite.svg#history-rate"></use></svg></a>
                                                <a
                                                    class="star filled"><svg class="icon icon_history-rate"><use xlink:href="./../../images/sprite.svg#history-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                        <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                    </div>
                                </div>
                                <div class="badge">В наличии</div><a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_history-link"><use xlink:href="./../../images/sprite.svg#history-link"></use></svg></span></a>
                                <div class="wrapper-icons clearfix float-md-right"><a class="float-right like filled hidden-md-up hidden-sm-down" href="#"><svg class="icon icon_history-calc"><use xlink:href="./../../images/sprite.svg#history-calc"></use></svg></a><a class="float-right libra hidden-sm-down js-icon"
                                        href="#"><svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg></a><a class="float-md-right like js-icon" href="#"><svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg></a></div>
                                <div
                                    class="not-sale">*Скидка на данный товар не действует</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item"><a class="img" href="#"><img src="../../images/history-img-3.png"/></a>
                            <div class="wrapper-total">
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="wrapper-title">
                                    <div class="rating"></div>
                                    <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                </div>
                            </div>
                            <div class="order">Под заказ</div><a class="btn btn-blank" href="#">Купить<span class="move"><svg class="icon icon_history-link"><use xlink:href="./../../images/sprite.svg#history-link"></use></svg></span></a>
                            <div class="wrapper-icons clearfix float-md-right"><a class="float-right like filled hidden-md-up hidden-sm-down" href="#"><svg class="icon icon_history-calc"><use xlink:href="./../../images/sprite.svg#history-calc"></use></svg></a><a class="float-right libra hidden-sm-down js-icon"
                                    href="#"><svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg></a><a class="float-md-right like js-icon" href="#"><svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next js-next hidden-xs-down"><svg class="icon icon_slider-arrow-right"><use xlink:href="./../../images/sprite.svg#slider-arrow-right"></use></svg></div>
            <div class="swiper-button-prev js-prev hidden-xs-down"><svg class="icon icon_slider-arrow-left"><use xlink:href="./../../images/sprite.svg#slider-arrow-left"></use></svg></div>
            <div class="pagination js-pagination hidden-lg-up"></div>
        </div>
    </div>
    <script src="../../js/main.js"></script>
    </div>
</body>

</html>