<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-feedback">
            <div class="container">
                <h1 class="h2">Обратная связь</h1>
                <form class="form-col">
                    <div class="light feed-text">Если у вас есть вопросы или пожелания, пишите&nbsp— мы с радостью вам ответим.</div>
                    <div class="sub-section">
                        <div class="form-group required no-label"><input class="form-control" type="text" placeholder="Ваше имя" /></div>
                        <div class="form-group required no-label"><input class="form-control" type="email" placeholder="Email" /></div>
                        <div class="form-group required no-label"><input class="form-control js-tel" type="tel" placeholder="Телефон" /></div>
                        <div class="form-group required textarea-group no-label"><textarea class="form-control" placeholder="Напишите сообщение..."></textarea></div>
                    </div>
                    <div class="sub-section">
                        <h4>Понравилась ли вам наша компания?</h4><input class="radio" type="radio" name="good" id="y" checked="checked" /><label for="y">Да</label><input class="radio" type="radio" name="good" id="n" /><label for="n">Нет</label></div>
                    <div
                        class="sub-section"><button class="btn btn-outline-success">Отправить сообщение</button></div>
            </form>
        </div>
    </div>
    <script src="../../js/main.js"></script>
    </div>
</body>

</html>