<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-footer">
            <div class="container">
                <div class="row">
                    <div class="socials hidden-md-up col-12"><a href="#"><svg class="socials-icon icon"><use xlink:href="../../images/sprite.svg#footer-vk"></use></svg></a><a href="#"><svg class="socials-icon icon"><use xlink:href="../../images/sprite.svg#footer-fb"></use></svg></a><a href="#"><svg class="socials-icon icon icon-tw"><use xlink:href="../../images/sprite.svg#footer-tw"></use></svg></a></div>
                    <div
                        class="col-md col-12">
                        <nav>
                            <ul>
                                <li><a href="#">О компании</a></li>
                                <li><a href="#">Акции и спецпредложения</a></li>
                                <li><a href="#">Контакты и обратная связь</a></li>
                                <li><a href="#">Направления деятельности</a></li>
                                <li><a href="#">Положения и регламент</a></li>
                                <li><a href="#">Поставщикам</a></li>
                                <li><a href="#">Оптовым клиентам</a></li>
                            </ul>
                        </nav>
                </div>
                <div class="col-md col-12">
                    <nav class="right">
                        <ul>
                            <li><a href="#">Почему мы</a></li>
                            <li><a href="#">Как купить</a></li>
                            <li><a href="#">Адреса магазинов</a></li>
                            <li><a href="#">Услуги для покупателей</a></li>
                            <li><a href="#">Полезные советы</a></li>
                            <li><a href="#">Вакансии</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md col-12">
                    <div class="wrapper-developer">
                        <div class="socials hidden-sm-down"><a href="#"><svg class="socials-icon icon"><use xlink:href="../../images/sprite.svg#footer-vk"></use></svg></a><a href="#"><svg class="socials-icon icon"><use xlink:href="../../images/sprite.svg#footer-fb"></use></svg></a><a href="#"><svg class="socials-icon icon icon-tw"><use xlink:href="../../images/sprite.svg#footer-tw"></use></svg></a></div>
                        <div
                            class="payment"><a href="#"><svg class="payment-icon icon visa"><use xlink:href="../../images/sprite.svg#footer-visa"></use></svg></a><a href="#"><svg class="payment-icon icon master"><use xlink:href="../../images/sprite.svg#footer-master"></use></svg></a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-12">
                <div class="developed"><span>Разработано в</span><a class="air" href="#">AIR.AGENCY</a></div>
            </div>
        </div>
    </div>
    </div>
    <script src="../../js/main.js"></script>
    </div>
</body>

</html>