<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-installations">
            <div class="container"><a class="quick-link" href="#" data-toggle="tooltip" data-placement="bottom" title="Дополнительная информация">?</a>
                <h2>Используйте наши готовые инсталляции для покупки всех необходимых товаров</h2>
                <div class="search">
                    <form class="form" action="#">
                        <div class="form-group clearfix">
                            <div class="left float-md-left"><select class="js-select form-control js-installations-nav" data-role="category"><option value="cat-1">Водоснабжение</option><option value="cat-2">Водоснабжение</option></select></div>
                            <div class="right float-md-left"><select class="js-select form-control js-installations-nav" data-role="position"><option value="pos-1">частного дома</option><option value="pos-2">частного дома</option></select></div><button class="btn btn-primary hidden-sm-down"><svg class="icon icon_search-ico"><use xlink:href="./../../images/sprite.svg#search-ico"></use></svg></button></div>
                    </form>
                </div>
            </div>
            <div class="swiper-container js-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-category="cat-1" data-pos="pos-1">
                        <div class="item">
                            <div class="scheme" style="width:500px;">
                                <div class="dot">
                                    <div class="dropdown"><a href="#">Длинное-предлинное название группы товаров, на которую можно перейти</a>
                                        <div class="price">12 150 <span class='rouble'>₽</span><span class="old">13 500 <span class='rouble'>₽</span></span>
                                        </div>
                                    </div>
                                </div><img src="../../images/installations-scheme.jpg" /></div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-category="cat-1" data-pos="pos-2">
                        <div class="item">
                            <div class="scheme" style="width:500px;">
                                <div class="dot">
                                    <div class="dropdown"><a href="#">Длинное-предлинное название группы товаров, на которую можно перейти</a>
                                        <div class="price">12 150 <span class='rouble'>₽</span><span class="old">13 500 <span class='rouble'>₽</span></span>
                                        </div>
                                    </div>
                                </div><img src="../../images/installations-scheme.jpg" /></div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-category="cat-2" data-pos="pos-1">
                        <div class="item">
                            <div class="scheme" style="width:500px;">
                                <div class="dot">
                                    <div class="dropdown"><a href="#">Длинное-предлинное название группы товаров, на которую можно перейти</a>
                                        <div class="price">12 150 <span class='rouble'>₽</span><span class="old">13 500 <span class='rouble'>₽</span></span>
                                        </div>
                                    </div>
                                </div><img src="../../images/installations-scheme.jpg" /></div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-category="cat-2" data-pos="pos-2">
                        <div class="item">
                            <div class="scheme" style="width:500px;">
                                <div class="dot">
                                    <div class="dropdown"><a href="#">Длинное-предлинное название группы товаров, на которую можно перейти</a>
                                        <div class="price">12 150 <span class='rouble'>₽</span><span class="old">13 500 <span class='rouble'>₽</span></span>
                                        </div>
                                    </div>
                                </div><img src="../../images/installations-scheme.jpg" /></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next js-next hidden-sm-down"><svg class="icon icon_slider-arrow-right"><use xlink:href="./../../images/sprite.svg#slider-arrow-right"></use></svg></div>
                <div class="swiper-button-prev js-prev hidden-sm-down"><svg class="icon icon_slider-arrow-left"><use xlink:href="./../../images/sprite.svg#slider-arrow-left"></use></svg></div>
                <div class="pagination js-pagination hidden-md-up"></div>
            </div>
        </div>
        <script src="../../js/main.js"></script>
    </div>
</body>

</html>