<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-advices">
            <div class="container">
                <h1 class="h1 hidden-sm-down">Полезные советы СтройГигант</h1>
                <figure><img src="../../images/advices-img.jpg" />
                    <figcaption>
                        <div class="text">
                            <h2 class="h1"></h2>
                            <p>Мир полезных советов СтройГигант — смотрите и делайте с нами!</p>
                        </div>
                    </figcaption>
                </figure>
                <!--.socialimg(src="../../images/article-social.png" alt="#")-->
                <p class="text-bottom max-width">Вы ищете пошаговые инструкции для воплощения в жизнь ваших идей? Вам нужна помощь в выборе материалов, которые вы хотите купить? Или вам просто хочется немного вдохновения? Огромное количество полезных инструкций и советов помогут вам
                    в планировании и реализации задуманного вами проекта, будь то ремонт ванной комнаты или украшение дачного участка.</p>
                <!--p «СтройГигант» гарантирует всем своим клиентам качественные товары по привлекательным ценам и профессиональное обслуживание, а также предлагает удобную доставку и бонусно-накопительную программу.-->
            </div>
        </div>
        <script src="../../js/main.js"></script>
    </div>
</body>

</html>