<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-text">
            <div class="container">
                <h1>Положения и регламенты</h1>
                <ol class="ol-out max-width">
                    <li class="h2">Определения
                        <ol class="ol-in">
                            <li>Продавец – ООО «Курс-логистика», зарегистрированное по законодательству Российской Федерации по адресу 305048, г. Курск, улица Косухина, дом 51,  ИНН 4632110238, ОГРН 1094632007370, реализующий товары и услуги в гипермаркетах
                                «СтройГигант» посредством сайта интернет-магазина через Агента.</li>
                            <li>Агент – ИП Подгорный Н.В., зарегистрированный по законодательству Российской Федерации по адресу: 3050347, г. Курск, ул. Комарова д.13а, кв.47, ИНН 773118067859, ОГРН 312463210900166, осуществляющий от своего имени и за счет
                                Продавца продажу Товаров/Услуг через интернет-магазин stroygigant.ru в г. Курске и ИП Шаброва Л.А., зарегистрированная по законодательству Российской Федерации по адресу: Курская обл., Медвенский район, х. Чаплыгин Лог,
                                д. 16, ИНН 463221587688, ОГРНИП 307463202300042, осуществляющая от своего имени и за счет Продавца продажу Товаров/Услуг через интернет-магазин stroygigant.ru в г. Железногорск, г. Губкин, г. Старый Оскол</li>
                            <li>Клиент – физическое лицо, являющееся потребителем в соответствии с Законом РФ «О защите прав потребителей», заказавшее и (или) оплатившее Товар в магазине, на сайте stroygigant.ru.</li>
                        </ol>
                    </li>
                    <li class="h2">Общие положения
                        <ol class="ol-in">
                            <li>Настоящий Договор является публичной офертой в соответствии со ст. 426, 435, 437 Гражданского кодекса Российской Федерации.</li>
                            <li>Клиент вправе заключить Договор с Продавцом исключительно путем присоединения к условиям настоящего Договора.</li>
                            <li>Настоящий Договор-оферта является договором присоединения (ст. 428 Гражданского кодекса Российской Федерации).</li>
                            <li>Условия Договора постоянно размещены на интернет-ресурсе Продавца по адресу: stroygigant.ru  в разделе «Условия продажи».</li>
                            <li>Продавец в одностороннем порядке принимает и изменяет условия Договора. В отношениях между Продавцом и Клиентом применяются положения Договора, действующие на момент Акцепта.</li>
                            <li class="li-for-ul">Отношения между Продавцом  и Клиентом - физическим лицом, приобретающим Товар/ Услугу для личного потребления, с момента Акцепта Клиентом Договора регулируются:
                                <ul>
                                    <li>настоящим Договором;</li>
                                    <li>Гражданским кодексом Российской Федерации;</li>
                                    <li>Законом Российской Федерации «О защите прав потребителей» в действующей редакции;</li>
                                    <li>Постановлением Правительства Российской Федерации от 27 сентября 2007 г. № 612 «Об утверждении правил продажи товаров дистанционным способом»;</li>
                                    <li>Постановлением Правительства Российской Федерации от 21 июля 1997 г. № 918 «Об утверждении правил продажи товаров по образцам»;</li>
                                    <li>Постановлением Правительства Российской Федерации от 13 мая 1997 г. № 575 «Об утверждении Перечня технически сложных товаров, в отношении которых требования потребителя об их замене подлежат удовлетворению в случае
                                        обнаружения в товарах существенных недостатков»;</li>
                                    <li>Федеральным законом Российской Федерации от 27 июля 2006 г. № 152-ФЗ «О персональных данных».</li>
                                </ul>
                            </li>
                            <li>Отношения между Продавцом  и Клиентом индивидуальным предпринимателем или юридическим лицом, приобретающим Товар/Услугу не для личного потребления, с момента Акцепта Клиентом Договора регулируются:
                                <ul>
                                    <li>настоящим Договором;</li>
                                    <li>Гражданским кодексом Российской Федерации.</li>
                                </ul>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
        <script src="../../js/main.js"></script>
    </div>
</body>

</html>