<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Components of Likee.template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../template_styles.css" rel="stylesheet">
    <link href="../../components.css" rel="stylesheet">
</head>

<body>
    <div class="b-site" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        <div class="b-goods-list">
            <div class="container">
                <div class="sort clearfix"><span class="float-left sort-by">Сортировать по:</span><select class="js-select float-left form-control"><option value="1">возрастанию цены</option><option value="2">убыванию цены</option></select>
                    <div class="type float-md-right hidden-sm-down"><span>Вид каталога:</span><a href="#"><svg class="filter-icon icon"><use xlink:href="../../images/sprite.svg#catalog-type-1"></use></svg></a><a class="js-change-view" href="#"><svg class="filter-icon icon"><use xlink:href="../../images/sprite.svg#catalog-type-2"></use></svg></a></div>
                </div>
                <div class="wrapper-goods">
                    <div class="item">
                        <div class="img"><img src="../../images/history-img-1.png" />
                            <div class="action">Акция</div>
                            <div class="rating hidden-md-up"><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                <a
                                    class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                    <a
                                        class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                        </div>
                        <div class="wrapper-def">
                            <div class="hidden-md-up">
                                <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a>
                                    <div class="state">В наличии!</div>
                                </div>
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                            </div>
                            <div class="hidden-sm-down">
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                <div class="wrapper-title">
                                    <div class="rating"><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                        <a
                                            class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                            <a
                                                class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                    <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                </div>
                                <div class="badge">В наличии</div>
                            </div>
                        </div>
                        <div class="wrapper-buy">
                            <div class="wrapper-icons float-left clearfix hidden-md-up"><a class="float-left like filled js-icon" href="#"><svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg></a><a class="float-left libra filled js-icon" href="#"><svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg></a>
                                <a
                                    class="float-left like filled js-icon" href="#"><svg class="icon icon_catalog-calc"><use xlink:href="./../../images/sprite.svg#catalog-calc"></use></svg></a>
                            </div><a class="btn btn-blank js-get-modal" href="#" data-target=".js-add-to-cart">Купить<span class="move"><svg class="icon icon_catalog-link"><use xlink:href="./../../images/sprite.svg#catalog-link"></use></svg></span></a>
                            <div class="wrapper-icons hidden-sm-down">
                                <a class="js-icon filled" href="#"><span>В избранное</span><svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg></a>
                                <div class="wrapper-icon">
                                    <div class="compare js-icon libra js-icon js-add-to-compare" href="#">
                                        <svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg>
                                        <span>Сравнить</span>
                                    </div>
                                    <div class="link-dropdown">
                                        <span>Добавить в сравнение</span>
                                        <a href="#">Перейти к сравнению</a>
                                    </div>                                                                               
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"><img src="../../images/history-img-2.png" />
                            <div class="sale">Распродажа</div>
                            <div class="rating hidden-md-up"><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                <a
                                    class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                    <a
                                        class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                        </div>
                        <div class="wrapper-def">
                            <div class="hidden-md-up">
                                <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a>
                                    <div class="state">В наличии!</div>
                                </div>
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                            </div>
                            <div class="hidden-sm-down">
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                <div class="wrapper-title">
                                    <div class="rating"><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                        <a
                                            class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                            <a
                                                class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                    <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                </div>
                                <div class="badge">В наличии</div>
                            </div>
                        </div>
                        <div class="wrapper-buy">
                            <div class="wrapper-icons float-left clearfix hidden-md-up"><a class="float-left like filled js-icon" href="#"><svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg></a><a class="float-left libra filled js-icon" href="#"><svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg></a>
                                <a
                                    class="float-left like filled js-icon" href="#"><svg class="icon icon_catalog-calc"><use xlink:href="./../../images/sprite.svg#catalog-calc"></use></svg></a>
                            </div><a class="btn btn-blank js-get-modal" href="#" data-target=".js-add-to-cart">Купить<span class="move"><svg class="icon icon_catalog-link"><use xlink:href="./../../images/sprite.svg#catalog-link"></use></svg></span></a>
                            <div class="wrapper-icons hidden-sm-down"><a class="js-icon filled" href="#"><span>В избранное</span><svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg></a><a class="js-icon" href="#"><span>Сравнить</span><svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg></a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"><img src="../../images/history-img-3.png" />
                            <div class="rating hidden-md-up"></div>
                        </div>
                        <div class="wrapper-def">
                            <div class="hidden-md-up">
                                <div class="title"><a href="#">Дальномер Bosch GLM 50 Professional 0601072200</a>
                                    <div class="state">В наличии!</div>
                                </div>
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                            </div>
                            <div class="hidden-sm-down">
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="wrapper-title">
                                    <div class="rating"></div>
                                    <div class="title"><a href="#">Дальномер Bosch GLM 50 Professional 0601072200</a></div>
                                </div>
                                <div class="badge">В наличии</div>
                            </div>
                        </div>
                        <div class="wrapper-buy">
                            <div class="wrapper-icons float-left clearfix hidden-md-up"><a class="float-left like filled js-icon" href="#"><svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg></a><a class="float-left libra filled js-icon" href="#"><svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg></a>
                                <a
                                    class="float-left like filled js-icon" href="#"><svg class="icon icon_catalog-calc"><use xlink:href="./../../images/sprite.svg#catalog-calc"></use></svg></a>
                            </div><a class="btn btn-blank js-get-modal" href="#" data-target=".js-add-to-cart">Купить<span class="move"><svg class="icon icon_catalog-link"><use xlink:href="./../../images/sprite.svg#catalog-link"></use></svg></span></a>
                            <div class="wrapper-icons hidden-sm-down"><a class="js-icon filled" href="#"><span>В избранное</span><svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg></a><a class="js-icon" href="#"><span>Сравнить</span><svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper-baner">
                <div class="b-baner">
                    <div class="container"><a href="#"><img class="img" src="../../images/baner-img.jpg"/></a></div>
                </div>
            </div>
            <div class="container">
                <div class="wrapper-goods">
                    <div class="item">
                        <div class="img"><img src="../../images/history-img-1.png" />
                            <div class="action">Акция</div>
                            <div class="rating hidden-md-up"><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                <a
                                    class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                    <a
                                        class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                        </div>
                        <div class="wrapper-def">
                            <div class="hidden-md-up">
                                <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a>
                                    <div class="state">В наличии!</div>
                                </div>
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                            </div>
                            <div class="hidden-sm-down">
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                <div class="wrapper-title">
                                    <div class="rating"><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                        <a
                                            class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                            <a
                                                class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                    <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                </div>
                                <div class="badge">В наличии</div>
                            </div>
                        </div>
                        <div class="wrapper-buy">
                            <div class="wrapper-icons float-left clearfix hidden-md-up"><a class="float-left like filled js-icon" href="#"><svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg></a><a class="float-left libra filled js-icon" href="#"><svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg></a>
                                <a
                                    class="float-left like filled js-icon" href="#"><svg class="icon icon_catalog-calc"><use xlink:href="./../../images/sprite.svg#catalog-calc"></use></svg></a>
                            </div><a class="btn btn-blank js-get-modal" href="#" data-target=".js-add-to-cart">Купить<span class="move"><svg class="icon icon_catalog-link"><use xlink:href="./../../images/sprite.svg#catalog-link"></use></svg></span></a>
                            <div class="wrapper-icons hidden-sm-down"><a class="js-icon filled" href="#"><span>В избранное</span><svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg></a><a class="js-icon" href="#"><span>Сравнить</span><svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg></a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"><img src="../../images/history-img-2.png" />
                            <div class="sale">Распродажа</div>
                            <div class="rating hidden-md-up"><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                <a
                                    class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                    <a
                                        class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                        </div>
                        <div class="wrapper-def">
                            <div class="hidden-md-up">
                                <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a>
                                    <div class="state">В наличии!</div>
                                </div>
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                            </div>
                            <div class="hidden-sm-down">
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="old-price">13 500 <span class='rouble'>₽</span></div>
                                <div class="wrapper-title">
                                    <div class="rating"><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                        <a
                                            class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><a class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a>
                                            <a
                                                class="star filled"><svg class="icon icon_catalog-rate"><use xlink:href="./../../images/sprite.svg#catalog-rate"></use></svg></a><span class="count">5 отзывов</span></div>
                                    <div class="title"><a href="#">Водонагреватель электрический Thermex Flat Plus IF 30V</a></div>
                                </div>
                                <div class="badge">В наличии</div>
                            </div>
                        </div>
                        <div class="wrapper-buy">
                            <div class="wrapper-icons float-left clearfix hidden-md-up"><a class="float-left like filled js-icon" href="#"><svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg></a><a class="float-left libra filled js-icon" href="#"><svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg></a>
                                <a
                                    class="float-left like filled js-icon" href="#"><svg class="icon icon_catalog-calc"><use xlink:href="./../../images/sprite.svg#catalog-calc"></use></svg></a>
                            </div><a class="btn btn-blank js-get-modal" href="#" data-target=".js-add-to-cart">Купить<span class="move"><svg class="icon icon_catalog-link"><use xlink:href="./../../images/sprite.svg#catalog-link"></use></svg></span></a>
                            <div class="wrapper-icons hidden-sm-down"><a class="js-icon filled" href="#"><span>В избранное</span><svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg></a><a class="js-icon" href="#"><span>Сравнить</span><svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg></a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"><img src="../../images/history-img-3.png" />
                            <div class="rating hidden-md-up"></div>
                        </div>
                        <div class="wrapper-def">
                            <div class="hidden-md-up">
                                <div class="title"><a href="#">Дальномер Bosch GLM 50 Professional 0601072200</a>
                                    <div class="state">В наличии!</div>
                                </div>
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                            </div>
                            <div class="hidden-sm-down">
                                <div class="price">12 150 <span class='rouble'>₽</span></div>
                                <div class="wrapper-title">
                                    <div class="rating"></div>
                                    <div class="title"><a href="#">Дальномер Bosch GLM 50 Professional 0601072200</a></div>
                                </div>
                                <div class="badge">В наличии</div>
                            </div>
                        </div>
                        <div class="wrapper-buy">
                            <div class="wrapper-icons float-left clearfix hidden-md-up"><a class="float-left like filled js-icon" href="#"><svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg></a><a class="float-left libra filled js-icon" href="#"><svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg></a>
                                <a
                                    class="float-left like filled js-icon" href="#"><svg class="icon icon_catalog-calc"><use xlink:href="./../../images/sprite.svg#catalog-calc"></use></svg></a>
                            </div><a class="btn btn-blank js-get-modal" href="#" data-target=".js-add-to-cart">Купить<span class="move"><svg class="icon icon_catalog-link"><use xlink:href="./../../images/sprite.svg#catalog-link"></use></svg></span></a>
                            <div class="wrapper-icons hidden-sm-down"><a class="js-icon filled" href="#"><span>В избранное</span><svg class="icon icon_catalog-like"><use xlink:href="./../../images/sprite.svg#catalog-like"></use></svg></a><a class="js-icon" href="#"><span>Сравнить</span><svg class="icon icon_catalog-libra"><use xlink:href="./../../images/sprite.svg#catalog-libra"></use></svg></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../js/main.js"></script>
    </div>
</body>

</html>